<! DOCTYPE html>
<html lang="en" ng-app="swellishApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name='viewport' content="width=device-width" initial-scale=1>
    <meta name='description' content='Boostez vos compétences linguistiques avec nos entraînements cérébraux conçus pour les professionnels avec Brain Billy. Avec nos jeux cognitifs, utilisez votre cerveau comme terrain de jeu. Inscrivez-vous gratuitement aujourd’hui pour dire “hello” à votre nouveau niveau en anglais.'>
    <meta name='language' content='FR'>
    <meta name="robots" content="index, follow" />
    <base href='/'>
    <title>Brain Billy | le catalyseur de votre niveau d’anglais</title>
    <link rel='image_src' href='http://static.brainbilly.com/images/brain-logo.png' type='image/png'>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  </head>
  <body>
    <div style="background-image: url('/static/img/snail.png');  background-position: center 50px;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;  background-size: 40%;
    "></div>
    <div style="position: absolute; bottom: 0; left: 20px">
      <ul style="list-style: none; text-align: center;">
        <li style="display: inline-block"><a href="https://twitter.com/brainybilly"><i class="ion ion-social-twitter"></i></a></li>
        <li style="display: inline-block"><a href="https://www.facebook.com/Brain-Billy-1722681034677640/"><i class="ion ion-social-facebook"></i></a></li>
        <li style="display: inline-block"><a href="https://www.instagram.com/brainybilly/"><i class="ion ion-social-instagram-outline"></i></a></li>
        <li style="display: inline-block"><a href="mailto:billy@brainbilly.com"><i class="ion ion-android-mail"></i></a></li>
      </ul>
    </div>
    <div style="position: absolute; bottom: 0; right: 60px">
      <ul style="list-style: none; text-align: center;">
        <li style="display: inline-block"><a href="{{ url_for('security.login') }}">se connecter</a></li>
        <li style="display: inline-block"><a href="{{ url_for('home.home') }}">brain billy</a></li>
        <li style="display: inline-block"><a href="{{ url_for('security.register') }}">s'inscrire</a></li>
      </ul>
    </div>
  </body>
</html>