<div class="branding">
  <a href="/home"><img src="static/img/brainbilly-shadow.png" /></a>
</div>

<div class="pre-load-view" ng-show="loading">
  <div class="spinner-wrap">
    <div class="container">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</div>

<div class="main-wrapper" ng-hide="loading">
  <div class="photo-main" ng-class="{photo_explorer_open: explorerOpen}">
    <div class="photo-box" ng-style="transitionDist">
      <div class="current-photo photo-full" ng-repeat="image in imageSet track by $index" ng-style="{ 'background-image': 'url(' + image + ')' }"></div>
    </div>
  </div>

  <div class="content round2">
    <div class="game-content">
      <form class="game-content-form" ng-submit="enterHandler()">
        <div class="form-inner-wrap">
        <div class="desc-text desc-text-low" ng-hide="quizMode">
          <span class="hover-wrap" ng-repeat="word in splitWords track by $index" ng-mouseenter="$parent.translationOpen = true" ng-mouseleave="$parent.translationOpen = false">
            <span class="orig">{{word}}</span>
            <span class="trans" lang="fr-x-mtfrom-en">{{translations[word]}}</span>
          </span>
        </div>
        <div class="desc-text desc-text-low" ng-show="quizMode && quizResults[currentWord] != 0"> {{wordSet[currentWord].quiz_text}} </div>
        <div class="desc-text desc-text-low" ng-show="quizMode && quizResults[currentWord] == 0" ng-bind-html="wordSet[currentWord].incorrect_text"></div>
        <input class="main-input" id="quizbox" ng-show="quizMode" ng-model="guess" autocomplete="off" ng-class="{correctAnswer: quizResults[currentWord] == 1, incorrectAnswer: quizResults[currentWord] == 0}"/>
        </div>
      </form>
      <div class="game-changer" ng-class="{quizChanger: quizMode}">
        <button class="main-btn unsplash-btn" ng-click="nextPhoto()" ng-hide="quizMode" ng-disabled="quizMode || !buttonable"> suivant </button>
        <button class="main-btn unsplash-btn" ng-click="skip()" ng-show="quizMode && !guessChecked" ng-disabled="!quizMode"> passer </button>
        <button class="main-btn unsplash-btn" ng-click="checkGuess()" ng-show="quizMode && !guessChecked" ng-disabled="(quizMode && guess.length <= 0) || !buttonable"> verifier </button>
        <button class="main-btn unsplash-btn" ng-click="nextQuizPhoto()" ng-show="quizMode && guessChecked" ng-disabled="!quizMode || !buttonable"> suivant </button>
      </div>
    </div>
    <div class="hint-sidebar">
      <ul>
        <li><button class="content-btn" ui-sref="home"><i class="icon ion-home"></i></button></li>
        <li><button class="content-btn" ng-class="{hidden: quizMode}" ng-click="playAudio()" ng-disabled="quizMode"><i class="icon ion-volume-medium"></i></button></li>
        <li><button class="content-btn" ng-click="toggleFeedback()"><i class="icon ion-erlenmeyer-flask"></i></button></li>
      </ul>
      <div class="feedback-box home-feed" ng-show="feedbackOpen">
        <h4>Partager votre avis</h4>
        <input class="feedback-subject" placeholder="Objet" ng-model="feedObj"/>
        <textarea class="feedback-input" placeholder="Donnez-nous votre avis" ng-model="feedMsg"></textarea>
        <div class="btn-wrap"><a class="main-btn color-btn" ng-click="sendFeedback()">Envoyer</a></div>
        <p class="msg err-msg" ng-show="feedbackErr">Désolé, votre message n’a pas été envoyé. Veuillez réessayer.</p>
        <p class="msg success-msg" ng-show="feedbackSuccess">Merci !</p>
      </div>
    </div>
    <div class="page-counter">
      {{currentWord+1}}/{{wordSet.length}}
    </div>

    <div class="shifting-content" ng-class="{photo_explorer_open: explorerOpen }">
      <div class="explorer-toggle">
        <button class="content-btn explorer-btn" ng-click="toggleExplorer()">
          <i class="icon ion-chevron-down"> </i>
        </button>
      </div>
    </div>

    <div class="results-content" ng-show="showResults">
      <div class="desc-text result-text" ng-if="correct == quizResults.length">Good job, time to move up!</div>
      <div class="desc-text result-text" ng-if="correct < quizResults.length && !countRetry">Get your thinking cap ready for another round!</div>
      <div class="desc-text result-text" ng-if="correct < quizResults.length && countRetry"> Let's take it back a step and try again!</div>
      <div class="game-results">
        <div> Points  {{correct}} </div>
        <div> Repetitions  {{quizResults.length}} </div>
        <button class="main-btn unsplash-btn" ng-click="backToDash()"> mon espace</button>
        <button class="main-btn unsplash-btn" ng-click="nextRound()"> suivant</button>
      </div>
    </div>
  </div>

  <div class="photo-explorer">
    <div class="photo-preview" ng-repeat="word in wordSet track by $index">
      <div class="photo-explorer-img photo-full" ng-style="{ 'background-image': 'url(' + word.image_file + ')' }"ng-class="{unfocused: $index != currentWord}">
      </div>
    </div>
  </div>
</div>

<div class="goggs" ng-show="translationOpen">
  <img src="static/img/powered_by_google_on_non_white.png" />
</div>