<div class="branding">
  <img src="static/img/brainbilly-shadow.png" />
</div>

<div class="pre-load-view" ng-show="loading">
  <div class="spinner-wrap">
    <div class="container">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</div>

<div ui-tour ui-tour-on-shown="toolTipLocations()">
  <div tour-step tour-step-orphan="true" popup-class="'advice-tour'" tour-step-title="" tour-step-content="Le but de ce jeu est d’entraîner votre mémoire en travaillant votre vocabulaire." tour-step-order="0" tour-step-template-url="'/static/partials/tour-template-next.html'"></div>
  <div tour-step tour-step-orphan="true" tour-step-title="" tour-step-tooltip-class="'.advice-tour'" tour-step-content="Répétez chaque phrase à voix haute" tour-step-template-url="'/static/partials/tour-template-next.html'" tour-step-popup-delay="0" tour-step-order="10"></div>
  <div id="step-1" style="position: absolute;">
    <div tour-step tour-step-placement="left" tour-step-title="" tour-step-tooltip-class="'.advice-tour'" tour-step-content="Pour avancer, cliquez sur “suivant” ou appuyez sur la touche Entrée" tour-step-template-url="'/static/partials/tour-template.html'" tour-step-order="20"></div>
  </div>
  <div id="step-2" style="position: absolute;">
    <div tour-step tour-step-placement="left" tour-step-title="" tour-step-tooltip-class="'.advice-tour'" tour-step-content="Cliquez sur l’icône audio pour réécouter le texte" tour-step-template-url="'/static/partials/tour-template.html'" tour-step-order="30"></div>
  </div>
  <div tour-step tour-step-orphan="true" tour-step-title="" tour-step-tooltip-class="'.advice-tour'" tour-step-content="Maintenant, vous allez revoir les images dans l’ordre inverse." tour-step-template-url="'/static/partials/tour-template-next.html'" tour-step-order="60"></div>
  <div id="step-3" style="position: absolute;">
    <div tour-step tour-step-placement="bottom" tour-step-title="" tour-step-tooltip-class="'.advice-tour'" tour-step-content="Tapez les phrases dans l’ordre inverse." tour-step-template-url="'/static/partials/tour-template.html'" tour-step-order="70"></div>
  </div>
  <div id="step-4" style="position: absolute;">
    <div tour-step tour-step-placement="left" tour-step-title="" tour-step-tooltip-class="'.advice-tour'" tour-step-content="Si vous rencontrez un problème, cliquez sur la fiole pour nous le signaler." tour-step-template-url="'/static/partials/tour-template.html'" tour-step-order="80"></div>
  </div>
</div>

<div class="main-wrapper" ng-hide="loading">
  <div class="photo-main" ng-class="{photo_explorer_open: explorerOpen}">
    <div class="photo-box" ng-style="transitionDist">
      <div class="current-photo photo-full" ng-repeat="image in imageSet track by $index" ng-style="{ 'background-image': 'url(' + image + ')' }"></div>
    </div>
  </div>
  <div class="content">
    <div class="game-content">
      <form class="game-content-form" ng-submit="enterHandler()">
        <div class="form-inner-wrap">
          <div class="desc-text" ng-show="quizMode" ng-style="incorrectAnswer">{{wordSet[currentWord].text}}</div>
          <div class="desc-text desc-text-low" ng-hide="quizMode">
            <span class="hover-wrap" ng-repeat="word in splitWords track by $index" ng-mouseenter="$parent.translationOpen = true" ng-mouseleave="$parent.translationOpen = false">
              <span class="orig">{{word}}</span>
              <span class="trans" lang="fr-x-mtfrom-en">{{translations[word]}}</span>
            </span>
          </div>
          <input class="main-input" id="quizbox" ng-show="quizMode" ng-model="guess" autocomplete="off" ng-class="{correctAnswer: quizResults[currentWord] == 1, incorrectAnswer: quizResults[currentWord] == 0}" />
        </div>
      </form>
      <div class="game-changer">
        <button id="step-1-anchor" class="main-btn unsplash-btn" ng-click="nextPhoto()" ng-hide="quizMode" ng-disabled="quizMode || !buttonable"> suivant </button>
        <button class="main-btn unsplash-btn" ng-click="skip()" ng-show="quizMode && !guessChecked" ng-disabled="!quizMode"> passer </button>
        <button class="main-btn unsplash-btn" ng-click="checkGuess()" ng-show="quizMode && !guessChecked" ng-disabled="(quizMode && guess.length <= 0) || !buttonable"> verifier </button>
        <button class="main-btn unsplash-btn" ng-click="nextQuizPhoto()" ng-show="quizMode && guessChecked" ng-disabled="!quizMode || !buttonable"> suivant </button>
      </div>
    </div>
    <div class="hint-sidebar">
      <ul>
        <li ><button class="content-btn" ui-sref="home"><i class="icon ion-home"></i></button></li>
        <li id="step-4-anchor"><button class="content-btn" ng-click="toggleFeedback()"><i class="icon ion-erlenmeyer-flask" ></i></button></li>
        <li id="step-2-anchor"><button class="content-btn" ng-class="{hidden: quizMode}" ng-click="playAudio()" ng-disabled="quizMode"><i class="icon ion-volume-medium"></i></button></li>
        <!--<li><button class="content-btn" ng-click="showHint()"><i class="icon ion-icecream"></i></button></li>

        <li><button class="content-btn" ng-click="hideContent = true"><i class="icon ion-image"></i></button></li>-->
      </ul>
    </div>
    <div class="page-counter">
      {{currentWord+1}}/{{wordSet.length}}
    </div>

    <div class="shifting-content" ng-class="{photo_explorer_open: explorerOpen }">
      <div class="explorer-toggle">
        <button class="content-btn explorer-btn" ng-click="toggleExplorer()">
          <i class="icon ion-chevron-down"> </i>
        </button>
      </div>
    </div>

    <div class="results-content" ng-show="showResults">
      <div class="desc-text result-text" ng-if="correct == quizResults.length">Good job, time to move up!</div>
      <div class="desc-text result-text" ng-if="correct < quizResults.length && !countRetry">Get your thinking cap ready for another round!</div>
      <div class="desc-text result-text" ng-if="correct < quizResults.length && countRetry"> Let's take it back a step and try again!</div>
      <div class="game-results">
        <div> Points  {{correct}} </div>
        <div> Repetitions  {{quizResults.length}} </div>
        <button class="main-btn unsplash-btn" ng-click="backToDash()"> mon espace</button>
        <button class="main-btn unsplash-btn" ng-click="nextRound()"> suivant</button>
      </div>
    </div>
  </div>

  <div class="photo-explorer">
    <div class="photo-preview" ng-style="photoSquish" ng-repeat="word in wordSet track by $index">
      <div class="photo-explorer-img photo-full" ng-style="{ 'background-image': 'url(' + word.image_th_file + ')' }"ng-class="{unfocused: $index != currentWord}">
      </div>
    </div>
  </div>
</div>
<div class="goggs" ng-show="translationOpen">
  <img src="static/img/powered_by_google_on_non_white.png" />
</div>
