<nav id="" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/static/img/saymalin.png" alt-text="saymalin"/></a>
    </div>
    <div id="header-nav" class="collapse navbar-collapse righters">
      <ul class="nav navbar-nav">
        <li class=""><a href="">How to Play</a></li>
        <li class=""><a href="">contact us</a></li>
        <li class=""><a href="">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>