<nav id="game-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" href="/" ng-click="toSplash()"><img src="/static/img/brainbilly-red.png" alt-text="brain billy"/></a>
    </div>
    <div id="header-nav" class="collapse navbar-collapse righters">
      <ul class="nav navbar-nav">
        <li class=""><a ng-click="toggleFeedback()" href="">Partagez votre avis</a></li>
        <li class=""><a href="/" ng-click="logout()">Déconnexion</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="gamepage container-fluid" style="margin-top: 80px;">
  <div class="col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0">
    <div class="panel panel-default user-panel">
      <div class="panel-body">
        <h1  style="display: inline;" class="panel-title user-title">{{currentUser.email | stripEmail }}</h1>
        <p style="display: block;"> {{currentUser.proficiency_name}}</p>
        <div>
        <button class="main-btn game-btn" ui-sref="phrasebank">Phrases</button>
        <!--<button class="main-btn game-btn">Statistiques</button>-->
        </div>
      </div>
    </div>
    <div class="visible-xs">
    <h1 style="color: #16A6B6; text-align: center;">Testez notre tout premier jeu !</h1>
    <div><button class="main-btn demo-btn" ng-click="playGame('ndual', 1, 'demo', 4)">Demo</button></div>
    </div>
    <div class="panel panel-default user-panel">
      <div class="referral-box">
        <h1 ng-if="currentUser.locked" style="margin-top: 0;">Débloquez-moi !</h1>
        <h1 ng-if="currentUser.referrals >=5" style="margin-top: 0;">Débloqué !</h1>
        <i style="font-size: 100px; color: #A4A8A9" class="ion ion-locked" ng-if="currentUser.locked"></i>
        <i style="font-size: 100px; color: #A4A8A9" class="ion ion-unlocked" ng-if="!currentUser.locked"></i>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{20*currentUser.referrals}}%;">
          </div>
        </div>
        <ul class="lvls">
          <li>
            <p class="reward-lvl">1</p>
          </li>
          <li class="active">
            <p class="reward-lvl">2</p>
          </li>
          <li>
            <p class="reward-lvl">3</p>
          </li>
          <li>
            <p class="reward-lvl">4</p>
          </li>
          <li>
            <p class="reward-lvl">5</p>
          </li>
        </ul>
        <p ng-if="currentUser.locked" style="padding: 0 4px;">Invitez vos amis pour bénéficier d’un accès illimité !</p>
        <p ng-if="!currentUser.locked" style="padding: 0 4px;">Un ami oublié ? Pas grave -- invitez-lui aujourd’hui !</p>
        <textarea col="30" row="1">{{currentUser.bitly_link}}</textarea>
        <ul class="social-nav">
          <li><button class="ref-btn" id="face-toggle"data-toggle="modal" data-target="#face-modal"><i class="ion ion-social-facebook"></i></button></li><li><button class="ref-btn" id="twit-toggle"data-toggle="modal" data-target="#twit-modal"><i class="ion ion-social-twitter"></i></button></li><li><button class="ref-btn" id="mail-toggle"data-toggle="modal" data-target="#mail-modal"><i class="ion ion-android-mail"></i></button></li>
        </ul>
        <p> Cliquez, copiez et partagez sur votre réseau préféré</p>
      </div>
    </div>
    <!--<div class="panel panel-default user-panel">
      <div style="text-align: center;" class="panel-body">
        <h1 class="panel-title user-title">Les bonnes pratiques de Billy</h1>
        <img style="width: 60px;"src="/static/img/billy.png" />
        <p>Hey! did you know that words make up sentences?! Pretty cool right. You can take the words we teach you and make your very own sentences!!</p>
      </div>
    </div>-->
  </div>
  <div class="col-sm-8 hidden-xs" ng-hide="!currentUser.locked">
    <h1 style="color: #16A6B6; text-align: center;">Testez notre tout premier jeu !</h1>
    <div><button class="main-btn demo-btn" ng-click="playGame('ndual', 1, 'demo', 4)">Demo</button></div>
    <div class="lock-divide"></div>
    <i class="ion ion-locked lock-divide-lock"></i>
    <div class="lock-divide"></div>
  </div>
  <div class="col-sm-8 panel-section hidden-xs">
    <div class="panel panel-default game-panel ladder-panel" ng-class="{ lockedPanel: currentUser.locked}">
      <div class="panel-hover">
        <p>Entraînez votre mémoire avec des courtes phrases de vocabulaire professionnelles.</p>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">Up and Down the Ladder</h3>
      </div>
      <div class="panel-body">
        <div><img class="game-icon" src="/static/img/ladder.png" /></div>
        <button ng-disabled="currentUser.locked" class="main-btn ladder-btn" ng-click="playGame('ndual', 1, 'pro', 4)">Jouer</button>
      </div>
    </div>
    <div class="panel panel-default game-panel ladder-panel" ng-class="{ lockedPanel: currentUser.locked}">
      <div class="panel-hover">
        <p>Entraînez votre mémoire et votre compréhension avec des phrases professionnelles à trous.</p>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">Up ___ Down ___ Ladder</h3>
      </div>
      <div class="panel-body">
        <div><img class="game-icon" src="/static/img/ladder.png" /></div>
        <button ng-disabled="currentUser.locked" class="main-btn ladder-btn" ng-click="playGame('ndual', 2, 'pro', 4)">Jouer</button>
      </div>
    </div>
  </div>
  <div class="col-sm-8 panel-section hidden-xs">
    <div class="panel panel-default game-panel river-panel" ng-class="{ lockedPanel: currentUser.locked}">
      <div class="panel-hover">
        <p>Entraînez votre mémoire avec des courtes phrases de vocabulaire quotidiennes.</p>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">Up and Down the River</h3>
      </div>
      <div class="panel-body">
        <div><img class="game-icon" src="/static/img/river.png" /></div>
        <button ng-disabled="currentUser.locked" class="main-btn river-btn" ng-click="playGame('ndual', 1, 'non-pro', 4)">Jouer</button>
      </div>
    </div>
    <div class="panel panel-default game-panel river-panel" ng-class="{ lockedPanel: currentUser.locked}">
      <div class="panel-hover">
        <p>Entraînez votre mémoire et votre compréhension avec des phrases quotidiennes à trous.</p>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">Up ___ Down ___ River</h3>
      </div>
      <div class="panel-body">
        <div><img class="game-icon" src="/static/img/river.png" /></div>
        <button ng-disabled="currentUser.locked" class="main-btn river-btn" ng-click="playGame('ndual', 2, 'non-pro', 4)">Jouer</button>
      </div>
    </div>
  </div>
</div>
  <!-- Facebook Modal -->
  <div class="modal fade media-modal" id="face-modal" tabindex="-1" role="dialog" aria-labelledby="faceLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="faceLabel">Partagez sur Facebook</h4>
        </div>
        <div class="modal-body">
          <textarea>Tu veux un bon plan pour améliorer ton anglais ? Rejoins-moi sur Brain Billy, c’est ludique et redoutablement efficace ! Leurs jeux cognitifs, favorisent la mémorisation et m’ont permis de prendre confiance en moi pour être enfin à l’aise avec l’anglais. Inscris-toi dès à présent pour en profiter ! {{currentUser.bitly_link}}</textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- Twitter Modal -->
  <div class="modal fade media-modal" id="twit-modal" tabindex="-1" role="dialog" aria-labelledby="twitLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="twitLabel">Partagez sur Twitter</h4>
        </div>
        <div class="modal-body">
        <textarea>Toi aussi améliore ton anglais avec les jeux cognitifs de @BrainyBilly. Rendez-vous sur {{currentUser.bitly_link}} pour commencer dès maintenant. Let’s go!</textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- Email Modal -->
  <div class="modal fade media-modal" id="mail-modal" tabindex="-1" role="dialog" aria-labelledby="mailLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="mailLabel">Partagez par mail</h4>
        </div>
        <div class="modal-body">
          <textarea>Salut les amis !&#13;&#10; &#13;&#10;Je viens de m’inscrire sur Brain Billy, des jeux cognitifs originaux pour l’apprentissage de l’anglais. Si vous aussi vous aimeriez améliorer votre anglais en jouant, venez me rejoindre ! Grâce à votre inscription, je pourrai gagner de super récompenses. Partagez Brain Billy à votre tour avec tous vos amis pour en gagner aussi !&#13;&#10;&#13;&#10;Rejoignez-moi vite sur Brain Billy en cliquant ici : {{currentUser.bitly_link}}&#13;&#10;&#13;&#10;Rendez-vous aussi sur Facebook : @brainbilly &#13;&#10;Et Twitter : @brainybilly &#13;&#10;&#13;&#10;À bientôt!</textarea>
        </div>
      </div>
    </div>
  </div>
