<div class="feedback-box home-feed">
  <h4>Partager votre avis</h4>
  {{scope}}
  <textarea class="feedback-subject" ng-model="feedback.feedObj">Feedback for Billy</textarea>
  <textarea class="feedback-input" placeholder="Donnez-nous votre avis" ng-model="feedback.feedMsg">mesa</textarea>
  <div class="btn-wrap"><button class="main-btn feed-btn" ng-click="sendFeedback()">Envoyer</button></div>
  <p class="msg err-msg" ng-show="feedbackSent && !feedbackSuccess">Désolé, votre message n’a pas été envoyé. Veuillez réessayer.</p>
  <p class="msg success-msg" ng-show="feedbackSuccess">Merci !</p>
</div>