<nav id="game-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ui-sref="home"><img src="/static/img/brainbilly-red.png" alt-text="saymalin"/></a>
    </div>
    <div id="header-nav" class="collapse navbar-collapse righters">
      <ul class="nav navbar-nav">
        <li class=""><a ng-click="toggleFeedback()" href="">Partagez votre avis</a></li>
        <li class=""><a href="/" ng-click="logout()">Déconnexion</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="phrasepage container-fluid">
  <div class="col-sm-4">
    <div class="panel panel-default user-panel">
      <div class="panel-body">
        <h1 class="panel-title user-title">{{currentUser.email | stripEmail }}</h1>
        <p>{{currentUser.proficiency_name}}</p>
        <button class="main-btn game-btn" ui-sref="home">Les Jeux</button>
        <!--<button class="main-btn game-btn">Statistiques</button>-->
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <table class="table table-bordered table-hover table-responsive table-curved">
      <thead>
        <tr>
          <td>Mes Phrases</td>
          <td>Mon Score</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="phrase in phrases | orderBy:'gains'">
          <td>{{phrase.phrase}}</td>
          <td>{{phrase.gains}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>