<div class="main-wrapper">
  <div class="photo-wrap">
  </div>

  <div class="login-form">
    <form name="loginform" ng-submit="login(credentials.username, credentials.password)">
      <div class="control-group">
        <div class="controls">
         <input class="main-input signup-input" id="username" name="username" type="text" ng-model="credentials.username" required placeholder="username" />
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
         <input class="main-input signup-input" id="password" name="password" type="password" ng-model="credentials.password" required placeholder="password" />
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
         <input class="main-btn color-btn" type="submit" value="Se connecter" ng-disabled="loginform.username.$pristine || loginform.password.$pristine" />
        </div>
      </div>
    </form>
  </div>
</div>