<div>
    <div id="pop-content" class="popover-content tour-step-content tour-step-{{tourIndex}}" ng-bind-html="tourStep.trustedContent"></div>
    <div class="tour-billy-wrap"><img src="/static/img/brainbilly.png" class="tour-billy" /></div>
    <div class="popover-navigation tour-step-navigation">
        <div class="btn-group">
            <button class="btn btn-sm btn-default" ng-if="tourStep.isNext" ng-click="tour.next()"><i class="ion ion-android-arrow-forward"></i></button>
        </div>
    </div>
</div>