<div>
    <div id="pop-content" class="popover-content tour-step-content tour-step-{{tourIndex}}" ng-bind-html="tourStep.trustedContent"></div>
    <div class="tour-billy-wrap"><img src="/static/img/brainbilly.png" class="tour-billy-sm" /></div>
</div>