<form action="/admin/sendreferralsummary?method=send" method="POST" name="send-summ-form">
  <button type="submit">Send away!</button>
  {% if flash %}
    <p>{{flash}}</p>
  {% endif %}
</form>
<form action="/admin/sendreferralsummary?method=show" method="POST" name="send-summ-form">
  <button type="submit">Show me</button>
</form>
{% if data %}
  <table>
    <thead>
      <tr>
        <td>proficiency</td>
        <td>email</td>
        <td>referred</td>
        <td>bitly link</td>
        <td>last active</td>
      </tr>
    </thead>
    <tbody>
  {% for user in data %}
      <tr>
        <td>{{user.proficiency}}</td>
        <td>{{user.email}}</td>
        <td>{{user.referred}}</td>
        <td>{{user.bitly}}</td>
        <td>{{user.last_active}}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
{% endif %}
