/*
VARIABLES
---------------
--------------- */
/*
FONTS
---------------
--------------- */
@font-face {
  font-family: 'Server';
  src: url("/static/fonts/Web_Serveroff-webfont.eot");
  src: url("/static/fonts/Web_Serveroff-webfont.eot?iefix") format("eot"), url("/static/fonts/Web_Serveroff-webfont.woff") format("woff"), url("/static/fonts/Web_Serveroff-webfont.ttf") format("truetype"), url("/static/fonts/Web_Serveroff-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'OpenSans';
  src: url("/static/fonts/OpenSans-Regular-webfont.eot");
  src: url("/static/fonts/OpenSans-Regular-webfont.eot?iefix") format("eot"), url("/static/fonts/OpenSans-Regular-webfont.woff") format("woff"), url("/static/fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("/static/fonts/OpenSans-Regular-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'OpenSans';
  src: url("/static/fonts/OpenSans-Bold-webfont.eot");
  src: url("/static/fonts/OpenSans-Bold-webfont.eot?iefix") format("eot"), url("/static/fonts/OpenSans-Bold-webfont.woff") format("woff"), url("/static/fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("/static/fonts/OpenSans-Bold-webfont.svg#webfont") format("svg");
  font-weight: bold; }
@font-face {
  font-family: 'OpenSansCon';
  src: url("/static/fonts/OpenSans-CondBold-webfont.eot");
  src: url("/static/fonts/OpenSans-CondBold-webfont.eot?iefix") format("eot"), url("/static/fonts/OpenSans-CondBold-webfont.woff") format("woff"), url("/static/fonts/OpenSans-CondBold-webfont.ttf") format("truetype"), url("/static/fonts/OpenSans-CondBold-webfont.svg#webfont") format("svg"); }
/*
BOOTSTRAP
---------------
--------------- */
/* BOOTIES */
.modal-backdrop.in {
  opacity: .3; }

.modal-dialog {
  width: 450px; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle {
  background-color: transparent;
  border-width: 2px;
  border-color: #6a6a68; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none; }

/*
MIXINS
---------------
--------------- */
/*
REUSABLES
---------------
---------------*/
/*
REUSABLES
---------------
---------------*/
body {
  color: #3C3C3C;
  font-family: 'OpenSans', sans-serif; }

.display-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.lefters {
  float: left; }

.righters {
  float: right; }

.vertical-align {
  display: flex;
  align-items: center; }

.btn.btn-default.site-btn {
  border: 4px solid #EE6557;
  background-color: transparent;
  color: #EE6557; }

.site-btn.btn-default.active.focus,
.site-btn.btn-default.active:focus,
.site-btn.btn-default.active:hover,
.site-btn.btn-default:active.focus,
.site-btn.btn-default:active:focus,
.site-btn.btn-default:active:hover,
.open > .dropdown-toggle.site-btn.btn-default.focus,
.open > .dropdown-toggle.site-btn.btn-default:focus,
.open > .dropdown-toggle.site-btn.btn-default:hover {
  border-color: #16A6B6;
  color: #16A6B6; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  outline-offset: 0; }

.btn-default.site-btn:hover {
  border-color: #AE4A40;
  color: #AE4A40; }

.navbar-brand img {
  display: none;
  width: 100px; }

.pre-load-view {
  width: 100vw;
  height: 100vh;
  background-color: #000; }

.pre-load-view .spinner-wrap {
  position: absolute;
  top: 20vh;
  text-align: center;
  width: 100%; }

.pre-load-view .spinner-wrap .container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px;
  width: 140px;
  height: 140px; }

.pre-load-view .spinner-wrap .line {
  position: absolute;
  top: 50%;
  margin-left: 10px;
  width: 60px;
  height: 4px;
  background: #FFF;
  animation: spin 1.5s infinite ease; }

.pre-load-view .spinner-wrap .line:nth-of-type(2) {
  animation-delay: 0.1s; }

.pre-load-view .spinner-wrap .line:nth-of-type(3) {
  animation-delay: 0.2s; }

.pre-load-view .spinner-wrap .line:nth-of-type(4) {
  animation-delay: 0.3s; }

.caps {
  text-transform: uppercase; }

ul.flashes {
  position: absolute; }

.feedback-box h4 {
  color: #C13729;
  font-weight: bold; }

.feedback-box .btn-wrap {
  margin-top: 10px;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 18px; }

.feedback-box .feedback-input {
  width: 380px;
  height: 111px;
  margin-bottom: 10px;
  resize: none;
  border-radius: 4px;
  border: 1px solid #ddd; }

.feedback-box .feedback-subject {
  width: 380px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  resize: none; }

.feedback-box .msg {
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
  margin-top: -25px; }

.feedback-box .err-msg {
  color: red; }

.feedback-box .success-msg {
  color: green; }

.table-curved {
  border-collapse: separate;
  border: solid #ddd 1px;
  border-radius: 4px;
  border-left: 0px;
  border-top: 0px; }

.table-curved > thead:first-child > tr:first-child > th {
  border-bottom: 0px;
  border-top: solid #ddd 1px; }

.table-curved td, .table-curved th {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.table-curved > :first-child > :first-child > :first-child {
  border-top-left-radius: 4px; }

.table-curved > :first-child > :first-child > :last-child {
  border-top-right-radius: 4px; }

.table-curved > :last-child > :last-child > :first-child {
  border-bottom-left-radius: 4px; }

.table-curved > :last-child > :last-child > :last-child {
  border-bottom-right-radius: 4px; }

.referral-box {
  margin-top: 30px;
  text-align: center; }

.referral-box img {
  padding-bottom: 10px;
  width: 80%; }

.referral-box .progress {
  width: 80%;
  margin-left: 10%; }

.referral-box .progress-bar {
  background-color: #EE6557; }

.referral-box ul {
  list-style: none;
  width: 100%;
  text-align: center;
  margin-top: 10px; }

.referral-box ul > li {
  display: inline-block;
  width: 13.33%;
  font-size: 12px;
  color: #EE6557;
  position: relative; }

.referral-box ul > li > .reward-lvl {
  border: 2px solid #EE6557;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block; }

.referral-box .reward-text {
  display: none;
  position: absolute;
  border: 1px solid #16a6b6;
  border-radius: 4px;
  top: 28px;
  left: 0px;
  color: #16a6b6;
  width: 100px;
  padding: 2px; }

.referral-box .reward-text::before {
  content: '';
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 6px solid #16a6b6;
  position: absolute;
  top: -6px;
  left: 41px; }

.referral-box .reward-text::after {
  content: '';
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  top: -5px;
  left: 42px; }

.referral-box li:hover .reward-text, .referral-box li.active .reward-text {
  display: inline-block; }

/**                                   **
 **                                   **
 **              REFERRAL             **
 **                                   **
 **                                   **/
.referral-page h2 {
  margin-top: 50px;
  margin-bottom: 40px; }

.referral-page ul {
  list-style: none;
  width: 100%;
  text-align: center;
  padding-left: 0px;
  margin-top: 20px; }

.referral-box ul > li {
  display: inline-block; }

.referral-box .social-nav > li {
  margin: 2%; }

.referral-page textarea {
  resize: none;
  width: 418px; }

#face-modal textarea {
  resize: none;
  width: 418px;
  height: 142px;
  padding: 10px 10px; }

#face-modal .modal-header {
  background-color: #4e69a2; }

#twit-modal textarea {
  resize: none;
  width: 418px;
  height: 90px;
  padding: 10px 10px; }

#twit-modal .modal-header {
  background-color: #1DA1F2; }

#mail-modal textarea {
  resize: none;
  width: 418px;
  height: 345px;
  padding: 10px 10px; }

#mail-modal .modal-header {
  background-color: #EE6557; }

.media-modal .modal-title {
  text-align: center;
  color: #fff;
  font-weight: bold; }

.referral-box .ref-btn {
  width: 35px;
  background: none;
  border: 2px solid;
  border-radius: 4px;
  font-size: 18px; }

.referral-box .ref-btn:hover {
  opacity: .5; }

.referral-box #face-toggle.ref-btn {
  border-color: #4e69a2;
  color: #4e69a2; }

.referral-box #twit-toggle.ref-btn {
  border-color: #1DA1F2;
  color: #1DA1F2; }

.referral-box #mail-toggle.ref-btn {
  border-color: #EE6557;
  color: #EE6557; }

.referral-page {
  margin-top: 60px; }

/*
PAGES
---------------
---------------*/
/**                                   **
 **                                   **
 **       UNSPLASH DUAL N BACK        **
 **                                   **
 **                                   **/
.branding img {
  width: 130px;
  margin-left: 26px;
  padding: 5px;
  position: absolute;
  z-index: 4; }

.goggs {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 4;
  width: 130px; }

.main-wrapper {
  background-color: #000; }

.photo-main,
.shifting-content {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.28, 0.83, 0.67, 1);
  transition: transform 0.3s cubic-bezier(0.28, 0.83, 0.67, 1);
  will-change: transform; }

.photo-full {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

.current-photo {
  max-width: 100vw;
  float: left; }

.photo-box {
  transition: transform 2s;
  will-change: transform;
  height: 99vh; }

.photo-main {
  background-color: #000;
  position: relative;
  height: 100%;
  width: 100vw;
  z-index: 1;
  overflow: hidden; }

.hover-wrap {
  position: relative;
  text-align: center; }

.hover-wrap .trans {
  display: none; }

.hover-wrap:hover .trans {
  display: block;
  background-color: #FFF;
  border-radius: 4px;
  position: absolute;
  top: -34px;
  left: 0px;
  color: black;
  text-shadow: none;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: lowercase;
  box-shadow: 0px 2px 6px 1px grey; }

.hover-wrap:hover .trans::after {
  content: '';
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: -10px;
  left: 20%; }

.hover-wrap:hover .trans::before {
  content: '';
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid grey;
  position: absolute;
  bottom: -14px;
  left: 20%;
  -webkit-filter: blur(2px);
  filter: blur(2px); }

.photo-explorer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #000; }

.photo-explorer .photo-preview {
  position: relative;
  display: inline-block;
  width: 10%;
  cursor: pointer;
  height: 116px;
  margin-top: 4px;
  padding-left: 4px; }

.photo-explorer .unfocused {
  opacity: .5; }

.photo_explorer_open {
  transform: translateY(-120px); }

.content-btn {
  font-size: 20px;
  color: #FFF;
  background: none;
  border: none;
  text-shadow: -1px -1px 6px rgba(0, 0, 0, 0.25), 1px -1px 6px rgba(0, 0, 0, 0.25), -1px 1px 6px rgba(0, 0, 0, 0.25), 1px 1px 6px rgba(0, 0, 0, 0.25); }

.main-btn {
  border: 4px solid #fff;
  background: transparent;
  font-weight: bold;
  color: #fff;
  margin: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px;
  border-radius: 1px; }

.unsplash-btn {
  border: 1px solid #fff;
  border-bottom: 4px solid #FFFFFF;
  background: rgba(160, 160, 160, 0.47);
  font-weight: bold;
  color: #FFF;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  margin-top: 40px;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: none; }

.unsplash-btn:hover {
  border: 1px solid grey;
  border-bottom: 4px solid grey; }

.content {
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px; }

.content .desc-text {
  position: absolute;
  top: 20vh;
  font-size: 90px;
  color: #fff;
  width: 100%;
  text-shadow: -1px -1px 6px rgba(0, 0, 0, 0.25), 1px -1px 6px rgba(0, 0, 0, 0.25), -1px 1px 6px rgba(0, 0, 0, 0.25), 1px 1px 6px rgba(0, 0, 0, 0.25); }

.content .desc-text.result-text {
  font-size: 4.5vw;
  position: relative;
  width: 80%;
  margin-left: 10%;
  top: 90px; }

.content .form-inner-wrap .desc-text {
  position: relative;
  z-index: 4;
  top: 0px; }

.content .form-inner-wrap .desc-text-low {
  padding-top: 10vh; }

.content .game-content {
  text-align: center; }

.content .game-content .form-inner-wrap {
  left: 13vw;
  width: 74vw;
  position: absolute; }

.content .game-content .main-input {
  position: relative;
  width: 68vw;
  background: rgba(156, 156, 156, 0.5);
  border: none;
  outline: none;
  color: #FFF;
  font-size: 90px;
  z-index: 2;
  text-align: center; }

.content .game-content .game-content-form {
  margin: 0; }

.content .game-content .main-input.incorrectAnswer {
  box-shadow: 0 0 13px #831908;
  border: solid 1px #831908; }

.content .game-content .main-input.correctAnswer {
  box-shadow: 0 0 13px #8BB61D;
  border: solid 1px #8BB61D; }

.content .game-content .game-changer {
  position: absolute;
  padding-top: 128px;
  top: 20vh;
  right: 16vw;
  text-align: right;
  z-index: 4; }

.content .game-content .correct-answer {
  font-size: 90px;
  color: #8BB61D;
  padding-top: 128px;
  width: 100%; }

.content .hint-sidebar {
  position: absolute;
  right: 20px;
  top: 100px;
  z-index: 4; }

.content .hint-sidebar .feedback-box {
  right: 38px;
  top: 28px; }

.content .hint-sidebar .content-btn {
  padding: 0px 11px;
  border-radius: 50%;
  font-size: 32px;
  margin-bottom: 4px;
  background: rgba(255, 255, 255, 0.55); }

.content .hint-sidebar .btn-wrap {
  text-align: right; }

.content .hint-sidebar li {
  list-style: none; }

.content .hint-sidebar .main-btn {
  background-color: transparent; }

.content .page-counter {
  position: absolute;
  bottom: 26px;
  right: 26px; }

.content .next-btn {
  position: absolute;
  bottom: 50%;
  right: 10%;
  z-index: 2; }

.content .next-btn .content-btn {
  font-size: 32px; }

.shifting-content {
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute; }

.shifting-content .explorer-btn {
  position: absolute;
  bottom: 20px; }

.results-content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background-color: #FB6A5C; }

.results-content .game-results {
  padding-top: 100px;
  position: relative;
  color: #fff;
  font-weight: bold;
  width: 100%; }

.results-content .game-results p {
  font-size: 16px; }

.hiddenPhotoLeft {
  display: none; }

.hiddenPhotoRight {
  display: none; }

.slideLeftOut {
  left: -100%; }

.slideLeftIn {
  left: 0; }

.slideRightOut {
  right: -100%; }

.slideRightIn {
  right: 0; }

.tour-step-content.tour-step-0,
.tour-step-content.tour-step-1,
.tour-step-content.tour-step-2,
.tour-step-content.tour-step-3,
.tour-step-content.tour-step-4,
.tour-step-content.tour-step-5,
.tour-step-content.tour-step-6,
.tour-step-content.tour-step-7,
.tour-step-content.tour-step-8 {
  position: relative;
  width: 181px;
  border: 0px solid #FFFFFF;
  background: white;
  text-align: left;
  padding-right: 0px;
  display: inline-block;
  font-size: 18px; }

.popover-inner > .tour-step-content {
  max-width: 324px;
  padding: 0px; }

.tour-billy-wrap {
  display: inline;
  position: relative;
  float: left; }

.billy-tour-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 10000;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

.popover-navigation {
  display: block; }

.tour-billy {
  width: 115px; }

.tour-billy-sm {
  width: 58px; }

.popover {
  max-width: inherit;
  border: 0px;
  border-radius: 5px;
  top: 24% !important; }

.popover-title {
  margin: 0;
  font-size: 14px;
  background-color: transparent;
  border-bottom: 0px;
  border-radius: 0px; }

.popover-inner {
  padding: 9px 14px;
  max-width: 324px;
  min-width: 267px; }

.popover-navigation .btn-group {
  position: absolute;
  display: block;
  vertical-align: middle;
  bottom: 10px;
  right: 10px; }

/**                                   **
 **                                   **
 **       UNSPLASH DUAL N BACK 2      **
 **                                   **
 **                                   **/
.content.round2 .desc-text {
  font-size: 50px; }

.content.round2 .desc-text.end-text {
  font-size: 90px; }

.content.round2 .game-content .main-input {
  width: 56vw;
  font-size: 50px; }

.content.round2 .game-content .form-inner-wrap {
  left: 22vw;
  width: 56vw; }

.content.round2 .game-content .correct-answer {
  font-size: 50px;
  padding-top: 0px; }

.content.round2 .game-content .game-changer {
  top: 20vh;
  padding-top: 64px; }

.content.round2 .game-content .game-changer.quizChanger {
  top: 10vh;
  padding-top: 215px; }

/**                                   **
 **                                   **
 **           LANDING SPLASH          **
 **                                   **
 **                                   **/
.navbar-default {
  transition: all .8s;
  background-color: transparent;
  border: none; }

.background-nav {
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25); }

.index .background-nav {
  background-color: #EE6557; }

.index .nav-logo {
  padding: 0px;
  margin: 0px; }

.index .nav-header {
  float: left; }

.index .nav-logo > img {
  width: 130px;
  margin-top: 11px;
  margin-left: 24px;
  display: none; }

.index .navbar .navbar-nav > li > a {
  font-size: 18px;
  color: #16A6B6; }

.index .navbar .navbar-nav > li > a:hover {
  color: #B84F44; }

.index .nav-place-divide {
  position: absolute;
  height: 50px;
  background: #FFF;
  bottom: 0px;
  width: 100%; }

.index .nav-place-divide::after {
  position: absolute;
  content: '';
  border-top: 30px solid #403532;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0px; }

.index {
  font-size: 16px;
  color: #696b69; }

.index .feature {
  position: relative;
  text-align: center; }

.index .feature .feature-button {
  display: block;
  padding-top: 30px;
  width: 100%;
  z-index: 100; }

.index .feature .site-btn {
  border: 4px solid #EE6557;
  background-color: transparent;
  color: #EE6557;
  font-size: 3.5vw; }

.index .feature .feature-text {
  z-index: 100; }

.index .sub-base {
  font-size: 2vw;
  padding-top: 30px; }

.brain-logo {
  width: 50vw; }

.index .feature-img {
  background: #222 url("/static/img/thinkingcap.jpg") no-repeat center center;
  color: #fff;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  z-index: 90;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }

.index .feature-img:after {
  content: '';
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1; }

.index .feature-text {
  line-height: normal;
  position: absolute;
  top: 60px;
  color: #FFF;
  width: 100%;
  text-align: center; }

.index .feature-img #arrow-scroll {
  font-size: 40px;
  color: #FB6A5C;
  bottom: 10px;
  position: absolute;
  margin-left: -12px;
  z-index: 2;
  cursor: pointer; }

.index .feature-img #arrow-scroll:hover {
  color: #C13729; }

.index .row {
  text-align: center;
  padding: 60px 0px; }

.index .row p, .index .row ul {
  text-align: left; }

.index ul {
  list-style: circle;
  margin-bottom: 0px; }

.row.inner-row {
  padding: 0px; }

.header-text {
  padding-bottom: 20px;
  font-family: 'Server', Arial, sans-serif;
  margin: 0px;
  padding-bottom: 10px;
  font-size: 40px;
  color: #FB6A5C; }

.index .lappy-image {
  background-image: url("/static/img/lappy.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 45% center;
  background-size: cover; }

.index .rocket-image {
  background-image: url("/static/img/rocketmen.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 45% center;
  background-size: cover; }

.index .brain-image {
  height: 310px;
  background-image: url("/static/img/brainnouveau-xs.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain; }

.index .brain-image-xs {
  width: 56%;
  padding-top: 30px; }

.index p {
  line-height: 40px; }

.index li {
  line-height: 30px; }

.index #locket {
  font-size: 50px;
  color: #C13729; }

.index .lock-btn.game-btn {
  border-bottom: 4px solid #C13729;
  margin-top: 10px; }

.index .lock-btn.game-btn:hover {
  border-bottom: 4px solid #FB6A5C; }

.index .cranium-billy {
  float: right;
  max-width: 228px;
  margin-top: -20px; }

.index .reward-bar p {
  line-height: normal; }

.index textarea {
  font-size: 14px;
  color: #16a6b6;
  background-color: transparent; }

.index .referral-box {
  padding-bottom: 0px; }

.index .referral-box ul {
  text-align: center; }

.index .referral-box {
  margin-top: 0px;
  padding-top: 0px; }

.index .row .referral-box p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px; }

.index .row .referral-box p.reward-lvl {
  font-size: 12px; }

.index .referral-box ul > li > .reward-lvl {
  line-height: normal; }

.index #prizes {
  background-color: #f4f4f4;
  padding-top: 20px; }

.index .referral-box textarea {
  background: #FFF; }

.index .referral-box .progress {
  background-color: gainsboro;
  margin-top: 10px; }

.index .referral-box h1 {
  margin-bottom: 10px; }

.index #mc_embed_signup .game-btn {
  height: inherit;
  line-height: normal;
  letter-spacing: normal;
  margin: 0px !important; }

.index .site-link {
  color: #16A6B6; }

.index .site-link:hover {
  color: #0F6F79; }

.index .play-btn {
  font-family: 'OpenSansCon', Arial, sans-serif;
  border: 2px solid #EE6557;
  background: rgba(245, 209, 206, 0.27);
  font-weight: bold;
  color: #EE6557;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 40px;
  font-size: 40px;
  text-transform: uppercase; }

.index .play-btn:hover {
  border: 2px solid #1DA6B6;
  color: #1DA6B6;
  text-decoration: none; }

.index .footer-nav ul {
  list-style: none;
  float: left; }
  .index .footer-nav ul.social-nav {
    float: right; }
  .index .footer-nav ul li {
    display: inline-block;
    padding: 10px; }
    .index .footer-nav ul li a {
      color: grey; }
    .index .footer-nav ul li a:hover {
      color: #C13729; }

.index .nav-btn {
  border: none;
  font-weight: bold;
  color: #FFF;
  margin: 8px;
  padding: 8px 16px;
  float: right;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: none;
  transition: all 0.23s ease-in-out 0s;
  font-family: 'Server', Arial, sans-serif;
  letter-spacing: .2em; }

/**                                   **
 **                                   **
 **             GAMES HOME            **
 **                                   **
 **                                   **/
#game-nav {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  background-size: contain; }

.game-photo {
  float: left;
  width: 33%;
  height: 28vh;
  min-height: 210px;
  padding: 10px;
  text-align: center;
  cursor: pointer; }

.gamepage .heading-text {
  text-align: center;
  font-size: 60px;
  color: #16A6B6;
  width: 100%; }

.game-photo .photo-full {
  background-color: #323232; }

.game-photo #ndual_1 {
  background-image: url("/static/img/round1.png"); }

.game-photo #ndual_2 {
  background-image: url("/static/img/round2.png"); }

.game-photo.coming-soon {
  opacity: .5;
  cursor: not-allowed; }

.game-photo .photo-text {
  display: none;
  font-size: 24px;
  width: 100%;
  height: 100%;
  font-weight: bold; }

.game-photo:hover .photo-text {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  vertical-align: sub;
  padding: 43px; }

.gamepage.container-fluid, .phrasepage.container-fluid {
  margin-top: 80px;
  text-align: center; }

.gamepage .games-img {
  width: 50px; }

.gamepage .game-panel .panel-hover {
  display: none;
  position: absolute;
  left: -213px;
  top: 12px;
  width: 200px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px; }

.gamepage .game-panel .panel-hover::after {
  content: '';
  border-left: 9px solid #fff;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  position: absolute;
  right: -9px;
  top: 11px; }

.gamepage .game-panel .panel-hover::before {
  content: '';
  border-left: 10px solid #ddd;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  right: -10px;
  top: 10px; }

.gamepage .game-panel:hover .panel-hover {
  display: block; }

.gamepage .game-panel.lockedPanel:hover .panel-hover {
  display: none; }

.gamepage .panel-section {
  text-align: center; }

.gamepage .game-panel {
  width: 200px;
  display: inline-block;
  margin: 20px;
  text-align: center;
  vertical-align: top;
  position: relative; }

.gamepage .user-title, .phrasepage .user-title {
  color: #C13729;
  text-transform: capitalize;
  font-weight: bold; }

.gamepage .user-panel, .phrasepage .user-panel {
  margin-top: 20px;
  text-align: left; }

.gamepage .user-panel h1, .phrasepage .user-panel h1 {
  font-size: 24px; }

.gamepage .game-panel .game-icon {
  height: 45px;
  margin-top: 20px; }

.gamepage .game-panel .panel-heading {
  height: 55px; }

.gamepage .game-panel .panel-body {
  height: 200px; }

.index #mc_embed_signup .game-btn
, .index .game-btn
, .gamepage .game-btn
, .phrasepage .game-btn
, .feed-btn {
  border: none;
  border-bottom: 2px solid #C13729;
  background: #FB6A5C;
  font-weight: bold;
  color: #FFF;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  margin-top: 40px;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: none;
  transition: all 0.23s ease-in-out 0s;
  font-family: 'Server', Arial, sans-serif;
  letter-spacing: .2em; }

.index #mc_embed_signup .game-btn:hover
, .index .game-btn:hover
, .gamepage .game-btn:hover
, .phrasepage .game-btn:hover
, .feed-btn:hover {
  border-bottom: 2px solid #FB6A5C;
  background: #C13729; }

.ladder-btn {
  border: none;
  border-bottom: 2px solid #BB4926;
  background: #FFC165;
  font-weight: bold;
  color: #FFF;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  margin-top: 40px;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: none; }

.ladder-btn:hover {
  border-bottom: 2px solid #FFC165;
  background-color: #BB4926;
  color: #FFF; }

.gamepage .ladder-btn.disabled,
.gamepage .ladder-btn.disabled.active,
.gamepage .ladder-btn.disabled.focus,
.gamepage .ladder-btn.disabled:active,
.gamepage .ladder-btn.disabled:focus,
.gamepage .ladder-btn.disabled:hover,
.gamepage .ladder-btn[disabled],
.gamepage .ladder-btn[disabled].active,
.gamepage .ladder-btn[disabled].focus,
.gamepage .ladder-btn[disabled]:active,
.gamepage .ladder-btn[disabled]:focus,
.gamepage .river-btn[disabled]:hover {
  cursor: initial;
  border-bottom: 2px solid #BB4926;
  background: #FFC165; }

.gamepage .ladder-panel {
  border-color: #BB4926; }

.gamepage .ladder-panel .panel-heading {
  background-color: #ffc165;
  border-color: #BB4926;
  color: white; }

.gamepage .ladder-panel .panel-footer {
  border-color: #BB4926;
  background-color: #FFF;
  color: #414179; }

.river-btn {
  border: none;
  border-bottom: 2px solid #354E9D;
  background: #a4e0fb;
  font-weight: bold;
  color: #FFF;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  margin-top: 40px;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: none; }

.river-btn:hover {
  border-bottom: 2px solid #a4e0fb;
  background-color: #354E9D;
  color: #FFF; }

.gamepage .river-btn.disabled,
.gamepage .river-btn.disabled.active,
.gamepage .river-btn.disabled.focus,
.gamepage .river-btn.disabled:active,
.gamepage .river-btn.disabled:focus,
.gamepage .river-btn.disabled:hover,
.gamepage .river-btn[disabled],
.gamepage .river-btn[disabled].active,
.gamepage .river-btn[disabled].focus,
.gamepage .river-btn[disabled]:active,
.gamepage .river-btn[disabled]:focus,
.gamepage .river-btn[disabled]:hover {
  cursor: initial;
  border-bottom: 2px solid #354E9D;
  background: #a4e0fb; }

.gamepage .river-panel {
  border-color: #354E9D; }

.gamepage .river-panel .panel-heading {
  background-color: #a4e0fb;
  border-color: #354E9D;
  color: white; }

.gamepage .river-panel .panel-footer {
  border-color: #354E9D;
  background-color: #FFF;
  color: #414179; }

.home-feed.feedback-box {
  top: 55px;
  right: 130px;
  border-radius: 4px; }

.home-feed.feedback-box {
  text-align: center; }

.home-feed.feedback-box .btn-wrap {
  text-align: right; }

.referral-box ul {
  padding-left: 0px; }

.referral-box .progress {
  margin-bottom: 0px; }

.referral-box textarea {
  resize: none;
  text-align: center;
  height: 26px;
  border: 1px dashed #16a6b6; }

.referral-box textarea:focus {
  outline: none; }

.referral-box {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px; }

.gamepage .demo-btn {
  border: none;
  border-bottom: 4px solid #C13729;
  background: #FB6A5C;
  font-weight: bold;
  color: #FFF;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  margin-top: 20px;
  font-size: 40px;
  text-transform: uppercase;
  box-shadow: none; }

.gamepage .demo-btn:hover {
  border-bottom: 4px solid #FB6A5C;
  background: #C13729; }

.lockedPanel {
  opacity: .5; }

.lock-divide {
  width: 40%;
  height: 6px;
  background: #D9DADB;
  display: inline-block;
  margin-top: 20px; }

.lock-divide-lock {
  color: #A4A8A9; }

/**                                   **
 **                                   **
 **            PHRASE BOOK            **
 **                                   **
 **                                   **/
.phrasepage .table {
  margin-top: 20px; }

.phrasepage .table > thead > tr > td {
  background-color: #00BCD4;
  color: white;
  font-size: 24px; }

.phrasepage .table-hover > tbody > tr:hover {
  background-color: #e1f7fa; }

/**                                   **
 **                                   **
 **          LOGIN / SIGNUP           **
 **                                   **
 **                                   **/
.the-gate .navbar-brand {
  position: absolute;
  top: 5px;
  left: 10px; }

.the-gate .navbar-brand img {
  display: block;
  width: 120px; }

.the-gate .photo-wrap {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.the-gate #login-photo.photo-wrap {
  background-image: url("/static/img/coy.jpeg"); }

.the-gate #confirm-photo.photo-wrap {
  background-image: url("/static/img/brellas.jpeg"); }

.the-gate #forgot-photo.photo-wrap {
  background-image: url("/static/img/flamingo.jpeg"); }

.the-gate #reset-photo.photo-wrap {
  background-image: url("/static/img/ferris-c.jpeg"); }

.the-gate #register-photo.photo-wrap {
  background-image: url("/static/img/books.jpeg"); }

.the-gate #referral-photo.photo-wrap {
  background-image: url("https://images.unsplash.com/photo-1452716726610-30ed68426a6b?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300"); }

.the-gate .login-form {
  position: absolute;
  text-align: center;
  font-size: 24px;
  top: 20vh;
  width: 100%; }

.the-gate .main-input {
  background: rgba(156, 156, 156, 0.5);
  border: none;
  outline: none;
  color: #FFF;
  text-align: center; }

.the-gate .main-input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #FFF; }

.the-gate .main-input :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #FFF;
  opacity: 1; }

.the-gate .main-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FFF;
  opacity: 1; }

.the-gate .main-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFF; }

.the-gate .main-input:placeholder-shown {
  /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #FFF; }

.the-gate .main-input.signup-input {
  background-color: rgba(169, 68, 66, 0.24); }

.the-gate .control-group {
  margin-bottom: 20px; }

.color-btn {
  border: none;
  border-bottom: 2px solid #C13729;
  background: #FB6A5C;
  font-weight: bold;
  color: #FFF;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: none; }

.color-btn:hover {
  border-bottom: 2px solid #FB6A5C;
  background: #C13729; }

.the-gate .shift-p {
  color: #fff;
  text-shadow: -1px -1px 6px rgba(0, 0, 0, 0.25), 1px -1px 6px rgba(0, 0, 0, 0.25), -1px 1px 6px rgba(0, 0, 0, 0.25), 1px 1px 6px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 15px;
  text-align: left; }

.the-gate .shift-p a {
  color: #EE6557; }

.the-gate .heading-text, .the-gate label {
  text-align: center;
  font-size: 90px;
  color: #fff;
  width: 100%;
  text-shadow: -1px -1px 6px rgba(0, 0, 0, 0.25), 1px -1px 6px rgba(0, 0, 0, 0.25), -1px 1px 6px rgba(0, 0, 0, 0.25), 1px 1px 6px rgba(0, 0, 0, 0.25); }

.the-gate .heading-text {
  margin-top: 0px;
  padding-top: 30px; }

.the-gate .heading-text-lil {
  font-size: 50px; }

.the-gate label {
  font-size: 20px;
  text-align: left; }

.the-gate ul {
  list-style: none;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 6px rgba(0, 0, 0, 0.25), 1px -1px 6px rgba(0, 0, 0, 0.25), -1px 1px 6px rgba(0, 0, 0, 0.25), 1px 1px 6px rgba(0, 0, 0, 0.25); }

.the-gate .red-text {
  color: #FB6A5C; }

.the-gate .referral-landing-msg {
  padding: 20px;
  padding-top: 10px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 150%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  margin-top: 130px; }

.the-gate .form-wrap {
  margin-bottom: 80px; }

.the-gate .foot-nav {
  position: absolute;
  bottom: 10px;
  width: 100%; }
  .the-gate .foot-nav ul {
    list-style: none;
    text-align: center; }
    .the-gate .foot-nav ul li {
      display: inline-block;
      padding: 8px; }
      .the-gate .foot-nav ul li a {
        font-weight: normal;
        color: white; }
      .the-gate .foot-nav ul li a:hover {
        color: rgba(255, 255, 255, 0.4); }

/*
TRANSITIONS
---------------
---------------*/
/* animations */
/* loading spinner */
@keyframes spin {
  100% {
    transform: rotate(360deg); } }
/*
MEDIA
---------------
---------------*/
@media (max-width: 767px) {
  .index .navbar > .container {
    padding: 0px; }

  .navbar-default .navbar-nav > li > a {
    background: rgba(76, 76, 76, 0.62); }

  .navbar-default .navbar-nav > li > a:hover {
    background: rgba(76, 76, 76, 0.62); }

  .index {
    font-size: 14px; }

  .index .brain-image {
    background: none; }

  .referral-page h2 {
    font-size: 20px;
    margin: 10px 0px; }

  .referral-page .ref-btn {
    font-size: 16px;
    width: 30px; }

  .referral-page .social-nav li {
    width: 20%; }

  .referral-page p {
    font-size: 12px; }

  .referral-page {
    text-align: center;
    margin-top: 20px; }

  .index .cranium-billy {
    width: 40%;
    margin-top: 0px; }

  .brain-logo {
    width: 84vw; }

  .index .feature .site-btn {
    font-size: 7vw; }

  .index .feature-img {
    max-height: 600px; }

  .index .feature-text {
    margin-top: 40px; }

  .the-gate .referral-landing-msg {
    margin-top: 10px;
    margin-bottom: 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .index {
    font-size: 15px; }

  .index .cranium-billy {
    width: 250px;
    margin-top: 36px; }

  .brain-logo {
    width: 64vw; }

  .index .feature-text {
    margin-top: 40px; } }

/*# sourceMappingURL=smell.css.map */
