<style>
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(22, 166, 182);
    color: #50505A;
  }
  #btn {
    border-bottom: 2px solid #FB6A5C;
    background: #C13729;
  }
  @media (max-width: 620px) {
    #email-goo, #email-goo-container {
      width: 100% !important;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
</style>
<meta charset="utf-8" />
<table width="100%" height="100%">
  <tbody>
    <tr>
      <td align="center" valign="top">
        <table width="600px" style=" background: #fff; padding: 20px; border-radius: 15px; box-shadow: 0px 0px 10px 1px rgba(68, 147, 156, 0.54); margin-top: 60px;">
          <tbody >
            <tr>
              <td>
              <img alt="Brain Billy" src="https://brainbilly.com/static/img/brainbilly-red.png" style="width: 100px; padding-left: 20px; padding-top: 10px;"; />
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table id="email-goo-container" width="500px">
                  <tbody >
                    <tr>
                      <td style="text-align: center; font-size: 18px;">
                        <img class="billy" src="https://brainbilly.com/static/img/brainbilly.png" style="width: 22%;">
                        <p style="line-height: 180%; text-align: left;    margin-top: 10px;
    font-size: 20px;">Yeah {{referee}} !</p>
                        <p style="line-height: 180%; text-align: left;">Yes ! Votre ami(e) {{friend}} vient de s’inscrire chez Brain Billy !
</p>
<p style="line-height: 180%; text-align: left;">Vous avez 5 amis fantastiques ! Pourquoi ? Parce qu’ils se sont inscrit chez <a href="https://brainbilly.com/home">Brain Billy</a> suite à votre invitation. Du coup, votre compte est débloqué !</p>
<p style="line-height: 180%; text-align: left;">Profitez maintenant de votre accès illimité à tous les jeux de Brain Billy ! N’oubliez pas de donner votre avis pour que nous puissions améliorer encore et encore nos jeux. Et si vous pensez que d’autres amis veulent améliorer leur anglais grâce au jeu, il vous suffit de continuer à partager votre lien sur les réseaux sociaux ou par mail. Vous êtes top !</p>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <table  id="email-goo" width="500px" style="margin-top: 40px;">
                          <tbody>
                            <tr>
                              <td>
                                <p style="font-size: 18px; text-align: left;">See you soon at Brain Billy !</p>
                                <p style="font-family: 'Satisfy', cursive; font-size: 40px; margin-top: 0px; color: #FB6A5C;">Billy</p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <table>
                <tbody>
                  <tr>
                    <td>
                      <p style="font-size: 10px">Si vous ne désirez plus recevoir d’e-mail de notre part, <a href="https://www.brainbilly.com/unsubscribe?user={{referee}}">cliquez sur ce lien</a>.</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>