<style>
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(22, 166, 182);
    color: #50505A;
  }
  #btn {
    border-bottom: 2px solid #FB6A5C;
    background: #C13729;
  }
  @media (max-width: 620px) {
    #email-goo, #email-goo-container {
      width: 100% !important;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
</style>
<meta charset="utf-8" />
<table width="100%" height="100%">
  <tbody>
    <tr>
      <td align="center" valign="top">
        <table>
          <tbody style="width: 600px">
            <tr>
              <td align="center" valign="top">
                <table id="email-goo-container" style="width: 600px; background: #fff; padding: 20px; border-radius: 15px; box-shadow: 0px 0px 10px 1px rgba(68, 147, 156, 0.54); margin-top: 60px;">
                  <tbody >
                    <tr>
                      <td>
                      <img alt="Brain Billy" src="https://brainbilly.com/static/img/brainbilly-red.png" style="width: 100px"; />
                      </td>
                    </tr>
                    <tr style="    text-align: center;
">
                      <td>
                        <img class="billy" src="https://brainbilly.com/static/img/brainbilly.png" style="width: 22%;">
                        <p style="color: #C13729;    margin-top: 10px;
    font-weight: bold;
    font-size: 40px;">Bienvenue {{ user.email }}!</p>
                        <p>Merci de cliquer sur le bouton pour confirmer votre compte.</p>
                        <p style="margin-top: 30px;"><a id="btn" style="    border: none;
    border-bottom: 2px solid #C13729;
    background: #FB6A5C;
    font-weight: bold;
    color: #FFF;
    margin: 8px;
    padding: 8px 16px;
    border-radius: 6px;
    margin-top: 40px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;" href="{{ confirmation_link }}">confirmer</a></p>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <table  id="email-goo" width="450px" style="margin-top: 40px;">
                          <tbody>
                            <tr>
                              <td>
                                <p style="font-size: 20px;">Bien à vous,</p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p style="font-family: 'Satisfy', cursive; font-size: 40px; margin-top: 0px; color: #FB6A5C;">Billy</p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <table>
                <tbody>
                  <tr>
                    <td>
                      <p style="font-size: 10px">Si vous ne désirez plus recevoir d’e-mail de notre part, <a href="https://www.brainbilly.com/unsubscribe?user={{user.email}}">cliquez sur ce lien</a>.</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>