<form method=POST enctype=multipart/form-data action="{{ url_for('ndual.admin') }}">
    <div>
      <label>image</label>
      <input type="file" name="image" accept="image/*"/>
    </div>
    <div>
      <label>audio</label>
      <input type="file" name="audio" accept="audio/*" />
    </div>
    <div>
      <label>text</label>
      <input type="text" name="data" placeholder="round text"/>
    </div>
    <div>
      <label>translation</label>
      <input type="text" name"translation" placeholder="text french"/>
    </div>
    <div>
      <label>round</label>
      <select name="round">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div>
      <label>proficiency</label>
      <select name="proficiency">
        <option>A1</option>
        <option>A2</option>
        <option>B1</option>
        <option>B2</option>
        <option>C1</option>
        <option>C2</option>
      </select>
    </div>
</form>