<!DOCTYPE html>
<html lang="en" ng-app="swellishApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name='viewport' content="width=device-width" initial-scale=1>
    <meta name='description' content='Boostez vos compétences linguistiques avec nos entraînements cérébraux conçus pour les professionnels avec Brain Billy. Avec nos jeux cognitifs, utilisez votre cerveau comme terrain de jeu. Inscrivez-vous gratuitement aujourd’hui pour dire “hello” à votre nouveau niveau en anglais.'>
    <meta name='language' content='FR'>
    <meta name="robots" content="index, follow" />
    <meta property="og:url"           content="https://brainbilly.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Brain Billy | le catalyseur de votre niveau d’anglais" />
    <meta property="og:description"   content="Boostez vos compétences linguistiques avec nos entraînements cérébraux conçus pour les professionnels avec Brain Billy. Avec nos jeux cognitifs, utilisez votre cerveau comme terrain de jeu. Inscrivez-vous gratuitement aujourd’hui pour dire “hello” à votre nouveau niveau en anglais." />
    <meta property="og:image"         content="https://static.brainbilly.com/images/billy-fb.jpg" />
    <base href='/'>
    <title>Brain Billy | le catalyseur de votre niveau d’anglais</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css" />
    <link rel="image_src" type="image/png" href="https://static.brainbilly.com/images/billy-fb.jpg" />
    <style type="text/css">
      #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      #mc_embed_signup {
        margin-top: 20px;
      }
      #mc_embed_signup_scroll {
        text-align: center;
      }

      #mce-EMAIL{
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 14px;
        padding: 6px;
        line-height: 23px;
      }

      #mc_embed_signup .inline-group input, #mc_embed_signup .inline-group {
        display: inline-block;
      }

      .clear {
        display: inline-block;
      }

      #mc_embed_signup div.mce_inline_error {
        position: absolute;
      }

      #mc_embed_signup input.email {
        vertical-align: inherit;
        height: 39px;
      }
      #mc_embed_signup_scroll {
        text-align: right;
      }

      #mc_embed_signup form {
        padding: 0;
        margin: 0;
      }

      .index #mc_embed_signup div.mce_inline_error {
        background-color: transparent;
      }
      .index #mc_embed_signup input.mce_inline_error {
        border-color: #FFEB3B;
      }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <link rel="stylesheet" href="/static/css/smell.min.css" />
  </head>
  <body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-THS2JS"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-THS2JS');</script>
  <!-- End Google Tag Manager -->
<div class="index">
  <nav id="navington" class="navbar navbar-fixed-top">
    <div class="container">
      <div class="nav-header">
        <a class="nav-logo" href="#"><img src="/static/img/brainbilly-white.png" alt-text="Brain Billy"/></a>
      </div>
        <a class="nav-btn" href="{{ url_for( 'security.login' ) }}">connexion</a>
    </div>
  </nav>
  <div class="feature">
    <div class="feature-img display-table">
    </div>
    <div class="feature-text">
      <img class="brain-logo" src="/static/img/brain-logo.png" alt-text="Brain Billy"/>
      <div class="feature-button">
        <a class="play-btn" href="/register">PLAY NOW</a>
      </div>
    </div>
    <div class="nav-place-divide"></div>
  </div>
  <div class="container-fluid">
    <div id="prizes" class="row">
      <div class="col-sm-6 col-sm-offset-3 referral-box">
        <h1 class="header-text caps" style="margin-top: 0;">Débloquez-moi !</h1>
        <i id="locket" class="ion ion-locked"></i>
        <p>Inscrivez-vous pour tester la démo</p>
        <form action="/register">
        <button type="submit" id="lock-btn" class="lock-btn game-btn">s'inscrire</button>
        </form>
        <div class="progress">
          <div id="progressive" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          </div>
        </div>
        <ul class="lvls">
          <li>
            <p class="reward-lvl">1</p>
          </li>
          <li class="active">
            <p class="reward-lvl">2</p>
          </li>
          <li>
            <p class="reward-lvl">3</p>
          </li>
          <li>
            <p class="reward-lvl">4</p>
          </li>
          <li>
            <p class="reward-lvl">5</p>
          </li>
        </ul>
        <p style="padding: 0 4px;">Invitez cinq amis pour bénéficier d’un accès illimité !</p>
      </div>
    </div>
    <div id="characteristics" class="row">
      <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-7  col-xs-12 col-xs-offset-0">
        <h2 class="header-text caps">les "brain games" ?</h2>
        <p>Les brain games sont des jeux de réflexion. <b>C’est le meilleur moyen pour vous permettre d’apprendre l’anglais de façon efficace et stimulante.</b></p>
        <p>Les brain games <b>développés par nos équipes</b> vont vous permettre de travailler tous les champs d’apprentissage de l’anglais, soit. </p>
      </div>
      <div class="col-md-5 col-sm-4 hidden-xs">
        <div class="brain-image"></div>
      </div>
      <div class="visible-xs">
        <img class="brain-image-xs" src="static/img/brainnouveau-xs.png">
      </div>
    </div>
    <div id="cogsci" class="row rocket-image">
      <div class="col-md-offset-5 col-md-6 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h2 class="header-text caps">Une approche basée sur les sciences cognitives</h2>
        <p>L’approche est simple : quel que soit le sujet, <b>on apprend beaucoup mieux lorsque l’on s’amuse</b> et surtout lorsque le cerveau est stimulé de manière efficace. C’est pourquoi l’ensemble des programmes se basent sur les dernières avancées du champ des sciences cognitives.</p>
      </div>
    </div>
    <div id="vision" class="row">
      <div class="col-xs-12 visible-xs">
        <h2 class="header-text caps">La Vision</h2>
      </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
        <img src="/static/img/billy-open.png" class="cranium-billy" />
        <h2 class="hidden-xs header-text caps">La Vision</h2>
        <p>Le but : permettre à des professionnels français <b>d’exercer leur métier en anglais</b> au quotidien.</p>
        <p>Comment aider ? : <a class="site-link" href="/register">Inscrivez-vous</a> pour <b>les jeux gratuitement</b>. N’oubliez pas de parrainer vos amis pour <b>gagner des récompenses</b> ! Et puis, restez informés sur les nouveautés à venir grâce au Brain Billy newsletter.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="//mailbilly.us12.list-manage.com/subscribe/post?u=139eaf8a888449e84cb594535&amp;id=a189ed4b74" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll"  style="text-align: left">

        <div class="inline-group">
          <input placeholder="S'abonner au Brain Billy newsletter" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_139eaf8a888449e84cb594535_a189ed4b74" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="S'abonner" name="subscribe" id="mc-embedded-subscribe" class="button game-btn"></div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
   <!-- Facebook Modal -->
  <div class="modal fade media-modal" id="face-modal" tabindex="-1" role="dialog" aria-labelledby="faceLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="faceLabel">Partagez sur Facebook</h4>
        </div>
        <div class="modal-body">
          <textarea>Tu veux un bon plan pour améliorer ton anglais ? Rejoins-moi sur Brain Billy, c’est ludique et redoutablement efficace ! Leurs jeux cognitifs, favorisent la mémorisation et m’ont permis de prendre confiance en moi pour être enfin à l’aise avec l’anglais. Inscris-toi dès à présent pour en profiter ! {{user.bitly_link}}</textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- Twitter Modal -->
  <div class="modal fade media-modal" id="twit-modal" tabindex="-1" role="dialog" aria-labelledby="twitLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="twitLabel">Partagez sur Twitter</h4>
        </div>
        <div class="modal-body">
        <textarea>Toi aussi améliore ton anglais avec les jeux cognitifs de @BrainyBilly. Rendez-vous sur {{user.bitly_link}} pour commencer dès maintenant. Let’s go!</textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- Email Modal -->
  <div class="modal fade media-modal" id="mail-modal" tabindex="-1" role="dialog" aria-labelledby="mailLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="mailLabel">Partagez par mail</h4>
        </div>
        <div class="modal-body">
          <textarea>Salut les amis !&#13;&#10; &#13;&#10;Je viens de m’inscrire sur Brain Billy, des jeux cognitifs originaux pour l’apprentissage de l’anglais. Si vous aussi vous aimeriez améliorer votre anglais en jouant, venez me rejoindre ! Grâce à votre inscription, je pourrai gagner de super récompenses. Partagez Brain Billy à votre tour avec tous vos amis pour en gagner aussi !&#13;&#10;&#13;&#10;Rejoignez-moi vite sur Brain Billy en cliquant ici : {{user.bitly_link}}&#13;&#10;&#13;&#10;Rendez-vous aussi sur Facebook : @brainbilly &#13;&#10;Et Twitter : @brainybilly &#13;&#10;&#13;&#10;À bientôt!</textarea>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container-fluid">
      <div class="footer-nav">
          <ul>
            <li><a href="{{ url_for('security.login') }}">connexion</a></li>
            <li><a href="{{ url_for('security.register') }}">inscription</a></li>
            <li><a href="mailto:billy@brainbilly.com">contactez-nous</a></li>
          </ul>
          <ul class="social-nav">
            <li class=""><a href="https://twitter.com/brainybilly"><i class="ion ion-social-twitter"></i></a></li>
            <li class=""><a href="https://www.facebook.com/Brain-Billy-1722681034677640/"><i class="ion ion-social-facebook"></i></a></li>
            <li class=""><a href="https://www.instagram.com/brainybilly/"><i class="ion ion-social-instagram-outline"></i></a></li>
          </ul>
      </div>
    </div>
  </footer>
</div>
  <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <script src="/static/js/smellish-home.js"></script>
  </body>
</html>
