{% from "security/_macros.html" import render_field_with_errors, render_field %}
<!DOCTYPE html>
<html lang="en" ng-app="swellishApp">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name='viewport' content="width=device-width" initial-scale=1>
    <meta name='description' content='Boostez vos compétences linguistiques avec nos entraînements cérébraux conçus pour les professionnels avec Brain Billy. Avec nos jeux cognitifs, utilisez votre cerveau comme terrain de jeu. Inscrivez-vous gratuitement aujourd’hui pour dire “hello” à votre nouveau niveau en anglais.'>
    <meta name='language' content='FR'>
    <meta name="robots" content="index, follow" />
    <meta property="og:url"           content="https://brainbilly.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Brain Billy | le catalyseur de votre niveau d’anglais" />
    <meta property="og:description"   content="Boostez vos compétences linguistiques avec nos entraînements cérébraux conçus pour les professionnels avec Brain Billy. Avec nos jeux cognitifs, utilisez votre cerveau comme terrain de jeu. Inscrivez-vous gratuitement aujourd’hui pour dire “hello” à votre nouveau niveau en anglais." />
    <meta property="og:image"         content="https://static.brainbilly.com/images/billy-fb.jpg" />
    <base href='/'>
    <title>Brain Billy | le catalyseur de votre niveau d’anglais</title>
    <link rel="image_src" type="image/png" href="https://static.brainbilly.com/images/billy-fb.jpg" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/static/css/smell.min.css" />
  </head>
  <body class="the-gate">
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-THS2JS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-THS2JS');</script>
    <!-- End Google Tag Manager -->
{% block body %}
<div id="referral-photo" class="photo-wrap">
    <a class="navbar-brand" href="#"><img src="/static/img/brainbilly-shadow.png" alt-text="Brain Billy"/></a>
    <div class="row-fluid">
        <div class="visible-xs">
            <h1 class="heading-text">S’inscrire</h1>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-push-5 col-sm-5 col-sm-offset-1 referral-landing-msg">
            <h3>Bienvenue chez Brain Billy ! </h3>
            <p>Si vous êtes ici, c’est parce que l’un de vos <span class="red-text">super amis</span> pense que vous allez apprécier cette manière ludique <span class="red-text">d’apprendre l’anglais</span>. </p>
            <p><span class="red-text">Faites-lui confiance :</span> découvrez les jeux cognitifs de Billy et démarrez votre entraînement dès aujourd’hui. Pour ce faire, rien de plus simple : <span class="red-text">inscrivez-vous</span> et testez notre démo ! </p>
        </div>
        <div class="col-xs-10 col-sm-pull-6 col-xs-offset-1 col-sm-4 col-sm-offset-1">
            <h1 class="hidden-xs heading-text">S’inscrire</h1>
            <div class="">
                <form action="/referral/{{token}}" method="POST" name="register_user_form">
                    {{ register_user_form.hidden_tag() }}
                    {{ render_field_with_errors(register_user_form.email) }}
                    {{ render_field_with_errors(register_user_form.proficiency)}}
                    {{ render_field_with_errors(register_user_form.password) }}
                    {% if register_user_form.password_confirm %}
                    {{ render_field_with_errors(register_user_form.password_confirm) }}
                    {% endif %}
                    {{ render_field(register_user_form.submit, class="main-btn color-btn") }}
                </form>
                <p class="shift-p">Déjà inscrit ? <a href="{{ url_for('security.login') }}">Connectez-vous</a>.</p>
            </div>
        </div>
    </div>
    {% include 'security/footer.html' %}
</div>
{% endblock body %}
  </body>
</html>