<div class="foot-nav">
  <ul>
    <li><a href="{{ url_for('home.home') }}">accueil</a></li>
    <li><a href="{{ url_for('security.login') }}">connexion</a></li>
    <li><a href="{{ url_for('security.register') }}">inscription</a></li>
    <li><a href="{{ url_for('security.send_confirmation') }}">lien d'activation perdu</a></li>
    <li><a href="{{ url_for('security.forgot_password') }}">mot de passe perdu</a></li>
  </ul>
</div>