{% from "security/_macros.html" import render_field_with_errors, render_field, render_checkbox_field %}
<!DOCTYPE html>
<html lang="en" ng-app="swellishApp">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width" initial-scale=1>
    <base href='/'>
    <title>Brain Billy | le catalyseur de votre niveau d’anglais</title>
    <link rel='image_src' href='http://static.brainbilly.com/images/brain-logo.png' type='image/png'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/smell.min.css" />
  </head>
  <body class="the-gate">
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-THS2JS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-THS2JS');</script>
    <!-- End Google Tag Manager -->
{% block body %}
<div id="login-photo" class="photo-wrap">
    <a class="navbar-brand" href="#"><img src="/static/img/brainbilly-shadow.png" alt-text="Brain Billy"/></a>

    <div class="row-fluid">
        <h1 class="heading-text">Se Connecter</h1>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-wrap">
                <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                    {{ login_user_form.hidden_tag() }}
                    {{ render_field_with_errors(login_user_form.email) }}
                    {{ render_field_with_errors(login_user_form.password) }}
                    {{ render_checkbox_field(login_user_form.remember) }}
                    {{ render_field(login_user_form.next) }}
                    {{ render_field(login_user_form.submit, class="main-btn color-btn") }}
                </form>
                <p class="shift-p">Pas encore inscrit ? <a href="{{ url_for('security.register') }}">Inscrivez-vous</a>.</p>
                <p class="shift-p"><a href="{{ url_for('security.forgot_password') }}">Mot de passe oublié ?</a></p>
            </div>
        </div>
    </div>
    {% include 'security/footer.html' %}
</div>
{% endblock body %}
  </body>
</html>