{% from "security/_macros.html" import render_field_with_errors, render_field %}
<!DOCTYPE html>
<html lang="en" ng-app="swellishApp">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width" initial-scale=1>
    <base href='/'>
    <title>Brain Billy | le catalyseur de votre niveau d’anglais</title>
    <link rel='image_src' href='http://static.brainbilly.com/images/brain-logo.png' type='image/png'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/smell.min.css" />
  </head>
  <body class="the-gate">
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-THS2JS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-THS2JS');</script>
    <!-- End Google Tag Manager -->
{% block body %}
<div id="reset-photo" class="photo-wrap">
  <a class="navbar-brand" href="#"><img src="/static/img/brainbilly-shadow.png" alt-text="Brain Billy"/></a>

  <div class="row-fluid">
    <h1 class="heading-text heading-text-lil">Réinitialiser votre mot de passe </h1>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-wrap">
        <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
          {{ reset_password_form.hidden_tag() }}
          {{ render_field_with_errors(reset_password_form.password) }}
          {{ render_field_with_errors(reset_password_form.password_confirm) }}
          {{ render_field(reset_password_form.submit, class="main-btn color-btn") }}
        </form>
      </div>
    </div>
  </div>
  {% include 'security/footer.html' %}
</div>
</body>
{% endblock body %}
</html>