/* BOOTIES */
.modal-backdrop.in {
  opacity: .3;
}

.modal-dialog {
  width: 450px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle {
  background-color: transparent;
  border-width: 2px;
  border-color: rgb(106, 106, 104);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}