@font-face{
  font-family: 'Server';
  src: url('/static/fonts/Web_Serveroff-webfont.eot');
  src: url('/static/fonts/Web_Serveroff-webfont.eot?iefix') format('eot'),
       url('/static/fonts/Web_Serveroff-webfont.woff') format('woff'),
       url('/static/fonts/Web_Serveroff-webfont.ttf') format('truetype'),
       url('/static/fonts/Web_Serveroff-webfont.svg#webfont') format('svg');
}

@font-face{
  font-family: 'OpenSans';
  src: url('/static/fonts/OpenSans-Regular-webfont.eot');
  src: url('/static/fonts/OpenSans-Regular-webfont.eot?iefix') format('eot'),
       url('/static/fonts/OpenSans-Regular-webfont.woff') format('woff'),
       url('/static/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('/static/fonts/OpenSans-Regular-webfont.svg#webfont') format('svg');
}

@font-face {
  font-family: 'OpenSans';
  src: url('/static/fonts/OpenSans-Bold-webfont.eot');
  src: url('/static/fonts/OpenSans-Bold-webfont.eot?iefix') format('eot'),
       url('/static/fonts/OpenSans-Bold-webfont.woff') format('woff'),
       url('/static/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
       url('/static/fonts/OpenSans-Bold-webfont.svg#webfont') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSansCon';
  src: url('/static/fonts/OpenSans-CondBold-webfont.eot');
  src: url('/static/fonts/OpenSans-CondBold-webfont.eot?iefix') format('eot'),
       url('/static/fonts/OpenSans-CondBold-webfont.woff') format('woff'),
       url('/static/fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
       url('/static/fonts/OpenSans-CondBold-webfont.svg#webfont') format('svg');
}