@media (max-width: 767px) {
  .index .navbar>.container {
    padding: 0px;
  }

  .navbar-default .navbar-nav>li>a {
    background: rgba(76, 76, 76, 0.62);
  }
  .navbar-default .navbar-nav>li>a:hover {
    background: rgba(76, 76, 76, 0.62);
  }
  .index {
    font-size: 14px;
  }
  .index .brain-image {
    background: none;
  }

  .referral-page h2 {
    font-size: 20px;
    margin: 10px 0px;
  }

  .referral-page .ref-btn {
    font-size: 16px;
    width: 30px;
  }

  .referral-page .social-nav li {
    width: 20%;
  }

  .referral-page p {
    font-size: 12px;
  }

  .referral-page {
    text-align: center;
    margin-top: 20px;
  }
  .index .cranium-billy {
    width: 40%;
    margin-top: 0px;
  }

  .brain-logo {
    width: 84vw;
  }

  .index .feature .site-btn {
    font-size: 7vw;
  }

  .index .feature-img {
    max-height: 600px;
  }

  .index .feature-text {
    margin-top: 40px;
  }

  .the-gate .referral-landing-msg {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .index {
    font-size: 15px;
  }

  .index .cranium-billy {
    width: 250px;
    margin-top: 36px;
  }

  .brain-logo {
    width: 64vw;
  }

  .index .feature-text {
    margin-top: 40px;
  }
}
