/*
REUSABLES
---------------
---------------*/
body {
  //background-color: #000;
  color: #3C3C3C;
  font-family: 'OpenSans', sans-serif; }

.display-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.lefters {
  float: left; }

.righters {
  float: right; }

.vertical-align {
  display: flex;
  align-items: center; }

.btn.btn-default.site-btn {
  border: 4px solid #EE6557;
  background-color: transparent;
  color: #EE6557; }

.site-btn.btn-default.active.focus,
.site-btn.btn-default.active:focus,
.site-btn.btn-default.active:hover,
.site-btn.btn-default:active.focus,
.site-btn.btn-default:active:focus,
.site-btn.btn-default:active:hover,
.open > .dropdown-toggle.site-btn.btn-default.focus,
.open > .dropdown-toggle.site-btn.btn-default:focus,
.open > .dropdown-toggle.site-btn.btn-default:hover {
  border-color: #16A6B6;
  color: #16A6B6; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  outline-offset: 0; }

.btn-default.site-btn:hover {
  border-color: #AE4A40;
  color: #AE4A40; }

.navbar-brand img {
  display: none;
  width: 100px; }

.pre-load-view {
  width: 100vw;
  height: 100vh;
  background-color: #000; }
  .pre-load-view .spinner-wrap {
    position: absolute;
    top: 20vh;
    text-align: center;
    width: 100%; }

  .pre-load-view .spinner-wrap .container {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 30px;
    width: 140px;
    height: 140px;
  }

  .pre-load-view .spinner-wrap .line {
    position: absolute;
    top: 50%;
    margin-left: 10px;
    width: 60px;
    height: 4px;
    background: #FFF;
    animation: spin 1.5s infinite ease;
  }

  .pre-load-view .spinner-wrap .line:nth-of-type(2) { animation-delay: 0.1s; }
  .pre-load-view .spinner-wrap .line:nth-of-type(3) { animation-delay: 0.2s; }
  .pre-load-view .spinner-wrap .line:nth-of-type(4) { animation-delay: 0.3s; }


.caps {
  text-transform: uppercase;
}

ul.flashes {
  position: absolute;
}
  .feedback-box {
    //width: 400px;
    //height: 250px;
    //background: white;
    //position: absolute;
    //box-shadow: 0px 0px 12px 2px #989898;
  }
.feedback-box h4 {
  color: #C13729;
  font-weight: bold;
}
.feedback-box .btn-wrap {
  margin-top: 10px;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 18px;
}

.feedback-box .feedback-input {
    width: 380px;
    height: 111px;
    margin-bottom: 10px;
    resize: none;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
.feedback-box .feedback-subject {
    width: 380px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    resize: none;
  }
.feedback-box .msg {
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
    margin-top: -25px;
  }
.feedback-box .err-msg {
    color: red;
  }
.feedback-box .success-msg {
    color: green;
  }

.table-curved {
   border-collapse: separate;
   border: solid #ddd 1px;
   border-radius: 4px;
   border-left: 0px;
   border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ddd 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.table-curved > :first-child > :first-child > :first-child {
    border-top-left-radius: 4px;
}
.table-curved > :first-child > :first-child > :last-child {
    border-top-right-radius: 4px;
}
.table-curved > :last-child > :last-child > :first-child {
    border-bottom-left-radius: 4px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-bottom-right-radius: 4px;
}


.referral-box {
  margin-top: 30px;
  text-align: center;
}

.referral-box img {
  padding-bottom: 10px;
  width: 80%;
}

.referral-box .progress {
  width: 80%;
  margin-left: 10%;
}

.referral-box .progress-bar {
  background-color: #EE6557;
}

.referral-box ul {
  list-style: none;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.referral-box ul>li {
  display: inline-block;
  width: 13.33%;
  font-size: 12px;
  color: #EE6557;
  position: relative;
}

.referral-box ul>li>.reward-lvl {
  border: 2px solid #EE6557;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
}

.referral-box .reward-text {
  display: none;
  position: absolute;
  border: 1px solid #16a6b6;
  border-radius: 4px;
  top: 28px;
  left: 0px;
  color: #16a6b6;
  width: 100px;
  padding: 2px;
}

.referral-box .reward-text::before {
  content: '';
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 6px solid #16a6b6;
  position: absolute;
  top: -6px;
  left: 41px;
}

.referral-box .reward-text::after {
  content: '';
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  top: -5px;
  left: 42px;
}

.referral-box li:hover .reward-text, .referral-box li.active .reward-text {
  display: inline-block;
}
/**                                   **
 **                                   **
 **              REFERRAL             **
 **                                   **
 **                                   **/
.referral-page h2 {
  margin-top: 50px;
  margin-bottom: 40px;
}

.referral-page ul {
  list-style: none;
  width: 100%;
  text-align: center;
  padding-left: 0px;
  margin-top: 20px;
}

.referral-box ul>li {
  display: inline-block;
}

.referral-box .social-nav>li {
  margin: 2%;
}

.referral-page textarea {
  resize: none;
  width: 418px;
}

#face-modal textarea {
  resize: none;
  width: 418px;
  height: 142px;
  padding: 10px 10px;
}

#face-modal .modal-header {
  background-color: #4e69a2;
}

#twit-modal textarea {
  resize: none;
  width: 418px;
  height: 90px;
  padding: 10px 10px;
}

#twit-modal .modal-header {
  background-color: #1DA1F2;
}

#mail-modal textarea {
  resize: none;
  width: 418px;
  height: 345px;
  padding: 10px 10px;
}

#mail-modal .modal-header {
  background-color: #EE6557;
}

.media-modal .modal-title {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.referral-box .ref-btn {
  width: 35px;
  background: none;
  border: 2px solid;
  border-radius: 4px;
  font-size: 18px
}

.referral-box .ref-btn:hover {
  opacity: .5;
}

.referral-box #face-toggle.ref-btn {
  border-color: #4e69a2;
  color: #4e69a2;
}

.referral-box #twit-toggle.ref-btn {
  border-color: #1DA1F2;
  color: #1DA1F2;
}

.referral-box #mail-toggle.ref-btn {
  border-color: #EE6557;
  color: #EE6557;
}

.referral-page {
  margin-top: 60px;
}