$site_grey: #B3B3B3;
$md_grey: #777777;
$dk_grey: #3C3C3C;

$site_red: #EE6557;
$md_red: #AE4A40;
$dk_red: #6E2F28;

$site_blue: #16A6B6;
$md_blue: #0F6F79;
$dk_blue: #07373D;

$cool_green: #a4bf41;
$grey_blue: #7093A2;
$cream: #F0E3D8;