/**                                   **
 **                                   **
 **             GAMES HOME            **
 **                                   **
 **                                   **/
#game-nav {
  box-shadow: 0px 2px 8px rgba(0,0,0,.15);
  background-color: #fff;
  background-size: contain;
}

.game-photo {
  float: left;
  width: 33%;
  height: 28vh;
  min-height: 210px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.gamepage .heading-text {
  text-align: center;
  font-size: 60px;
  color: #16A6B6;
  width: 100%;
}

  .game-photo .photo-full {
    background-color: #323232;
  }
  .game-photo #ndual_1 {
    background-image: url('/static/img/round1.png')
  }
  .game-photo #ndual_2 {
    background-image: url('/static/img/round2.png')
  }
  .game-photo.coming-soon {
    opacity: .5;
    cursor: not-allowed; }
  .game-photo .photo-text {
    display: none;
    font-size: 24px;
    width: 100%;
    height: 100%;
    font-weight: bold; }
  .game-photo:hover .photo-text {
    display: block;
    background: rgba(0,0,0,.7);
    color: white;
    vertical-align: sub;
    padding: 43px;  }
.gamepage.container-fluid, .phrasepage.container-fluid {
  margin-top: 80px;
  text-align: center;
}

.gamepage .games-img {
  width: 50px;
}

.gamepage .game-panel .panel-hover {
  display: none;
  position: absolute;
  left: -213px;
  top: 12px;
  width: 200px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.gamepage .game-panel .panel-hover::after {
  content: '';
  border-left: 9px solid #fff;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  position: absolute;
  right: -9px;
  top: 11px;
}

.gamepage .game-panel .panel-hover::before {
  content: '';
  border-left: 10px solid #ddd;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  right: -10px;
  top: 10px;
}


.gamepage .game-panel:hover .panel-hover {
  display: block;
}

.gamepage .game-panel.lockedPanel:hover .panel-hover {
  display: none;
}

.gamepage .panel-section {
  text-align: center;
}

.gamepage .game-panel {
  width: 200px;
  display: inline-block;
  margin: 20px;
  text-align: center;
  vertical-align: top;
  position: relative;
}

.gamepage .user-title, .phrasepage .user-title {
  color: #C13729;
  text-transform: capitalize;
  font-weight: bold;
}

.gamepage .user-panel, .phrasepage .user-panel {
  margin-top: 20px;
  text-align: left;
}

.gamepage .user-panel h1, .phrasepage .user-panel h1 {
  font-size: 24px;
}

.gamepage .game-panel .game-icon {
  height: 45px;
  margin-top: 20px;
}

.gamepage .game-panel .panel-heading {
  height: 55px;
}

.gamepage .game-panel .panel-body {
  height: 200px;
}

.index #mc_embed_signup .game-btn
, .index .game-btn
, .gamepage .game-btn
, .phrasepage .game-btn
, .feed-btn {
    border: none;
    border-bottom: 2px solid #C13729;
    background: #FB6A5C;
    font-weight: bold;
    color: #FFF;
    margin: 8px;
    padding: 8px 16px;
    border-radius: 6px;
    margin-top: 40px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: none;
    transition: all 0.23s ease-in-out 0s;
    font-family: 'Server', Arial, sans-serif;
    letter-spacing: .2em;
}
.index #mc_embed_signup .game-btn:hover
, .index .game-btn:hover
, .gamepage .game-btn:hover
, .phrasepage .game-btn:hover
, .feed-btn:hover {
    border-bottom: 2px solid #FB6A5C;
    background: #C13729;
}

.ladder-btn {
    border: none;
    border-bottom: 2px solid #BB4926;
    background: #FFC165;
    font-weight: bold;
    color: #FFF;
    margin: 8px;
    padding: 8px 16px;
    border-radius: 6px;
    margin-top: 40px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: none;
  }
.ladder-btn:hover {
  border-bottom: 2px solid #FFC165;
  background-color: #BB4926;
  color: #FFF;
}
.gamepage .ladder-btn.disabled,
.gamepage .ladder-btn.disabled.active,
.gamepage .ladder-btn.disabled.focus,
.gamepage .ladder-btn.disabled:active,
.gamepage .ladder-btn.disabled:focus,
.gamepage .ladder-btn.disabled:hover,
.gamepage .ladder-btn[disabled],
.gamepage .ladder-btn[disabled].active,
.gamepage .ladder-btn[disabled].focus,
.gamepage .ladder-btn[disabled]:active,
.gamepage .ladder-btn[disabled]:focus,
.gamepage .river-btn[disabled]:hover {
  cursor: initial;
  border-bottom: 2px solid #BB4926;
  background: #FFC165;
}
.gamepage .ladder-panel {
  border-color: #BB4926;
}

.gamepage .ladder-panel .panel-heading {
  background-color: rgb(255, 193, 101);
  border-color: #BB4926;
  color: white;
}

.gamepage .ladder-panel .panel-footer {
  border-color: #BB4926;
  background-color: #FFF;
  color: #414179;
}

.river-btn {
    border: none;
    border-bottom: 2px solid #354E9D;
    background: rgb(164, 224, 251);
    font-weight: bold;
    color: #FFF;
    margin: 8px;
    padding: 8px 16px;
    border-radius: 6px;
    margin-top: 40px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: none;
  }
.river-btn:hover {
  border-bottom: 2px solid rgb(164, 224, 251);
  background-color: #354E9D;
  color: #FFF;
}

.gamepage .river-btn.disabled,
.gamepage .river-btn.disabled.active,
.gamepage .river-btn.disabled.focus,
.gamepage .river-btn.disabled:active,
.gamepage .river-btn.disabled:focus,
.gamepage .river-btn.disabled:hover,
.gamepage .river-btn[disabled],
.gamepage .river-btn[disabled].active,
.gamepage .river-btn[disabled].focus,
.gamepage .river-btn[disabled]:active,
.gamepage .river-btn[disabled]:focus,
.gamepage .river-btn[disabled]:hover {
  cursor: initial;
  border-bottom: 2px solid #354E9D;
  background: rgb(164, 224, 251);
}

.gamepage .river-panel {
  border-color: #354E9D;
}

.gamepage .river-panel .panel-heading {
  background-color: rgb(164, 224, 251);
  border-color: #354E9D;
  color: white;
}

.gamepage .river-panel .panel-footer {
  border-color: #354E9D;
  background-color: #FFF;
  color: #414179;
}

.home-feed.feedback-box {
  top: 55px;
  right: 130px;
  border-radius: 4px;
}

.home-feed.feedback-box {
  text-align: center;
}



.home-feed.feedback-box .btn-wrap {
  text-align: right;
}

.referral-box ul {
  padding-left: 0px;
}

.referral-box .progress {
  margin-bottom: 0px;
}

.referral-box textarea {
  resize: none;
  text-align: center;
  height: 26px;
  border: 1px dashed #16a6b6;
}

.referral-box textarea:focus {
  outline: none;
}

.referral-box {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
}

.gamepage .demo-btn {
  border: none;
  border-bottom: 4px solid #C13729;
  background: #FB6A5C;
  font-weight: bold;
  color: #FFF;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  margin-top: 20px;
  font-size: 40px;
  text-transform: uppercase;
  box-shadow: none;
}

.gamepage .demo-btn:hover {
  border-bottom: 4px solid #FB6A5C;
  background: #C13729;
}

.lockedPanel {
  opacity: .5;
}

.lock-divide {
  width: 40%;
  height: 6px;
  background: #D9DADB;
  display: inline-block;
  margin-top: 20px;
}

.lock-divide-lock {
  color: #A4A8A9;
}