/**                                   **
 **                                   **
 **          LOGIN / SIGNUP           **
 **                                   **
 **                                   **/
 .the-gate .navbar-brand {
  position: absolute;
  top: 5px;
  left: 10px;
 }

.the-gate .navbar-brand img {
  display: block;
  width: 120px;
}

.the-gate .photo-wrap {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  //z-index: -1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.the-gate #login-photo.photo-wrap {
  background-image: url("/static/img/coy.jpeg");
}

.the-gate #confirm-photo.photo-wrap {
  background-image: url("/static/img/brellas.jpeg");
}

.the-gate #forgot-photo.photo-wrap {
  background-image: url("/static/img/flamingo.jpeg");
}

.the-gate #reset-photo.photo-wrap {
  background-image: url("/static/img/ferris-c.jpeg");
}

.the-gate #register-photo.photo-wrap {
  background-image: url("/static/img/books.jpeg");
}

.the-gate #referral-photo.photo-wrap {
  background-image: url("https://images.unsplash.com/photo-1452716726610-30ed68426a6b?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300");
}

.the-gate .login-form {
  position: absolute;
  text-align: center;
  font-size: 24px;
  top: 20vh;
  width: 100%; }

.the-gate .main-input {
  background: rgba(156, 156, 156, 0.5);
  border: none;
  outline: none;
  color: #FFF;
  text-align: center; }
  .the-gate .main-input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #FFF; }
  .the-gate .main-input :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #FFF;
    opacity: 1; }
  .the-gate .main-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #FFF;
    opacity: 1; }
  .the-gate .main-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFF; }
  .the-gate .main-input:placeholder-shown {
    /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: #FFF; }
  .the-gate .main-input.signup-input {
    background-color: rgba(169, 68, 66, 0.24); }

.the-gate .control-group {
  margin-bottom: 20px; }

.color-btn {
  border: none;
  border-bottom: 2px solid #C13729;
  background: #FB6A5C;
  font-weight: bold;
  color: #FFF;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: none;
}

.color-btn:hover {
  border-bottom: 2px solid #FB6A5C;
  background: #C13729;
}

.the-gate .shift-p {
  color: #fff;
  text-shadow:
    -1px -1px 6px rgba(0, 0, 0, 0.25),
    1px -1px 6px rgba(0, 0, 0, 0.25),
    -1px 1px 6px rgba(0, 0, 0, 0.25),
    1px 1px 6px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 15px;
  text-align: left;
}
.the-gate .shift-p a {
  color: #EE6557;
}
.the-gate .heading-text, .the-gate label {
  text-align: center;
  font-size: 90px;
  color: #fff;
  width: 100%;
  text-shadow:
    -1px -1px 6px rgba(0, 0, 0, 0.25),
    1px -1px 6px rgba(0, 0, 0, 0.25),
    -1px 1px 6px rgba(0, 0, 0, 0.25),
    1px 1px 6px rgba(0, 0, 0, 0.25);
}
.the-gate .heading-text {
  margin-top: 0px;
  padding-top: 30px;
}
.the-gate .heading-text-lil {
  font-size: 50px;
}
.the-gate label {
  font-size: 20px;
  text-align: left;
}
.the-gate ul {
  list-style: none;
  color: white;
  font-weight: bold;
  text-shadow:
    -1px -1px 6px rgba(0, 0, 0, 0.25),
    1px -1px 6px rgba(0, 0, 0, 0.25),
    -1px 1px 6px rgba(0, 0, 0, 0.25),
    1px 1px 6px rgba(0, 0, 0, 0.25);
}

.the-gate .red-text {
  color: #FB6A5C;
}

.the-gate .referral-landing-msg {
  padding: 20px;
  padding-top: 10px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 150%;
  background: rgba(0,0,0,.4);
  color: white;
  margin-top: 130px
}

.the-gate .form-wrap {
  margin-bottom: 80px;

}

.the-gate .foot-nav {
  position: absolute;
  bottom: 10px;
  width: 100%;

  ul {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      padding: 8px;

      a {
        font-weight: normal;
        color: white;
      }

      a:hover {
        color: rgba(255,255,255,.4);
      }
    }
  }
}