/**                                   **
 **                                   **
 **            PHRASE BOOK            **
 **                                   **
 **                                   **/

 .phrasepage .table {
  margin-top: 20px;
 }

 .phrasepage .table>thead>tr>td {
  background-color: #00BCD4;
  color: white;
  font-size: 24px;
 }
 .phrasepage .table-hover>tbody>tr:hover {
  background-color: rgb(225, 247, 250);
 }