/**                                   **
 **                                   **
 **           LANDING SPLASH          **
 **                                   **
 **                                   **/
.navbar-default {
  transition: all .8s;
  background-color: transparent;
  border: none; }

.background-nav {
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0,0,0,.25);
}

.index .background-nav {
  background-color: #EE6557;
}

.index .nav-logo {
  padding: 0px;
  margin: 0px;

}

.index .nav-header {
  float: left;
}

.index .nav-logo>img {
  width: 130px;
  margin-top: 11px;
  margin-left: 24px;
  display: none;
}
.index .navbar .navbar-nav>li>a {
  font-size: 18px;
  color: #16A6B6;
}
.index .navbar .navbar-nav>li>a:hover {
  color: #B84F44;
}

.index .nav-place-divide {
  position: absolute;
  height: 50px;
  background: #FFF;
  bottom: 0px;
  width: 100%;
}

.index .nav-place-divide::after {
  position: absolute;
  content: '';
  border-top: 30px solid #403532;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0px;
}

.index {
  font-size: 16px;
  color: rgb(105, 107, 105);
}
.index .feature {
  position: relative;
  text-align: center; }
  .index .feature .feature-button {
    display: block;
    padding-top: 30px;
    width: 100%;
    z-index: 100; }
  .index .feature .site-btn {
    border: 4px solid #EE6557;
    background-color: transparent;
    color: #EE6557;
    font-size: 3.5vw; }
  .index .feature .feature-text {
    z-index: 100; }
  .index .sub-base {
    font-size: 2vw;
    padding-top: 30px;
  }

  .brain-logo {
    width: 50vw;
  }
.index .feature-img {
  background: #222 url("/static/img/thinkingcap.jpg") no-repeat center center;
  color: #fff;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  z-index: 90;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
.index .feature-img:after {
  content: '';
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1; }
.index .feature-text {
 line-height: normal;
  position: absolute;
  top: 60px;
  color: #FFF;
  width: 100%;
  text-align: center; }
.index .feature-img #arrow-scroll {
  font-size: 40px;
  color: #FB6A5C;
  bottom: 10px;
  position: absolute;
  margin-left: -12px;
  z-index: 2;
  cursor: pointer;
}
.index .feature-img #arrow-scroll:hover {
  color: #C13729;
}
.index .row {
  text-align: center;
  padding: 60px 0px; }

.index .row p, .index .row ul {
  text-align: left;
}

.index ul {
  list-style: circle;
  margin-bottom: 0px;
}
.row.inner-row {
  padding: 0px;
}
.header-text {
  padding-bottom: 20px;
  font-family: 'Server', Arial, sans-serif;
  margin: 0px;
  padding-bottom: 10px;
  font-size: 40px;
  color: #FB6A5C;
}

.index .lappy-image {
  background-image: url('/static/img/lappy.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 45% center;
  background-size: cover;
}
.index .rocket-image {
  background-image: url('/static/img/rocketmen.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 45% center;
  background-size: cover;
}

.index .brain-image {
  height: 310px;
  background-image: url('/static/img/brainnouveau-xs.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain;
}

.index .brain-image-xs {
  width: 56%;
  padding-top: 30px;
}

.index p {
  line-height: 40px;
}
.index li {
  line-height: 30px
}

.index #locket {
  font-size: 50px;
  color: #C13729;
}

.index .lock-btn.game-btn {
  border-bottom: 4px solid #C13729;
  margin-top: 10px;
}

.index .lock-btn.game-btn:hover {
  border-bottom: 4px solid #FB6A5C;
}

.index .cranium-billy {
  float: right;
  max-width: 228px;
  margin-top: -20px
}

.index .reward-bar p {
  line-height: normal;
}

.index textarea {
  font-size: 14px;
  color: #16a6b6;
  background-color: transparent;
}

.index .referral-box {
  padding-bottom: 0px;
}
.index .referral-box ul {
  text-align: center;
}

.index .referral-box {
  margin-top: 0px;
  padding-top: 0px;
}

.index .row .referral-box p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px;
}

.index .row .referral-box p.reward-lvl {
  font-size: 12px;
}

.index .referral-box ul>li>.reward-lvl {
  line-height: normal;
}

.index #prizes {
  background-color: rgb(244, 244, 244);
  padding-top: 20px;
}

.index .referral-box textarea {
  background: #FFF;
}

.index .referral-box .progress {
  background-color: rgb(220, 220, 220);
  margin-top: 10px;
}

.index .referral-box h1 {
  margin-bottom: 10px;
}

.index #mc_embed_signup .game-btn {
  height: inherit;
  line-height: normal;
  letter-spacing: normal;
  margin: 0px !important;
}

.index .site-link {
  color: #16A6B6;
}

.index .site-link:hover {
  color: #0F6F79;
}

.index .play-btn {
    font-family: 'OpenSansCon', Arial, sans-serif;
    border: 2px solid #EE6557;
    background: rgba(245, 209, 206, 0.27);
    font-weight: bold;
    color: #EE6557;
    margin: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.index .play-btn:hover {
  border: 2px solid #1DA6B6;
  color: #1DA6B6;
  text-decoration: none;
}

.index .footer-nav {
  ul {
    list-style: none;
    float: left;

    &.social-nav {
      float: right;
    }

    li {
      display: inline-block;
      padding: 10px;

      a {
        color: grey;
      }

      a:hover {
        color: #C13729;
      }
    }
  }
}

.index .nav-btn {
  border: none;
  font-weight: bold;
  color: #FFF;
  margin: 8px;
  padding: 8px 16px;
  float: right;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: none;
  transition: all 0.23s ease-in-out 0s;
  font-family: 'Server', Arial, sans-serif;
  letter-spacing: .2em;
}