/**                                   **
 **                                   **
 **       UNSPLASH DUAL N BACK        **
 **                                   **
 **                                   **/

.branding img {
  width: 130px;
  margin-left: 26px;
  padding: 5px;
  position: absolute;
  z-index: 4;
}

.goggs {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 4;
  width: 130px;
}

.main-wrapper {
  background-color: #000;
}
.photo-main,
.shifting-content {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.28, 0.83, 0.67, 1);
  transition: transform 0.3s cubic-bezier(0.28, 0.83, 0.67, 1);
  will-change: transform; }

.photo-full {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.current-photo {
  max-width:100vw;
  float: left;
}

.photo-box {
  transition: transform 2s;
  will-change: transform;
  height: 99vh;
}

.photo-main {
  background-color: #000;
  position: relative;
  height: 100%;
  width: 100vw;
  z-index: 1;
  overflow: hidden;
}

.hover-wrap {
  position: relative;
  text-align: center;
}

.hover-wrap .trans {
  display: none;
}

.hover-wrap:hover .trans {
  display: block;
  background-color: #FFF;
  border-radius: 4px;
  position: absolute;
  top: -34px;
  left: 0px;
  color: black;
  text-shadow: none;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: lowercase;
  box-shadow: 0px 2px 6px 1px grey
}

.hover-wrap:hover .trans::after {
  content: '';
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: -10px;
  left: 20%;
}

.hover-wrap:hover .trans::before {
  content: '';
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid grey;
  position: absolute;
  bottom: -14px;
  left: 20%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.photo-explorer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #000; }
  .photo-explorer .photo-preview {
    position: relative;
    display: inline-block;
    width: 10%;
    cursor: pointer;
    height: 116px;
    margin-top: 4px;
    padding-left: 4px; }
  .photo-explorer .unfocused {
    opacity: .5; }

.photo_explorer_open {
  transform: translateY(-120px); }

.content-btn {
  font-size: 20px;
  color: #FFF;
  background: none;
  border: none;
  text-shadow: -1px -1px 6px rgba(0, 0, 0, 0.25), 1px -1px 6px rgba(0, 0, 0, 0.25), -1px 1px 6px rgba(0, 0, 0, 0.25), 1px 1px 6px rgba(0, 0, 0, 0.25);
}

.main-btn {
  border: 4px solid #fff;
  background: transparent;
  font-weight: bold;
  color: #fff;
  margin: 8px;
  box-shadow: 0px 0px 6px rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.3);
  padding: 4px;
  border-radius: 1px;
}

.unsplash-btn {
  border: 1px solid #fff;
  border-bottom: 4px solid #FFFFFF;
  background: rgba(160, 160, 160, 0.47);
  font-weight: bold;
  color: #FFF;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  margin-top: 40px;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: none;
}

.unsplash-btn:hover {
  border: 1px solid grey;
  border-bottom: 4px solid grey;
}

.content {
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  }
  .content .desc-text {
    position: absolute;
    top: 20vh;
    font-size: 90px;
    color: #fff;
    width: 100%;
    text-shadow:
    -1px -1px 6px rgba(0, 0, 0, 0.25),
    1px -1px 6px rgba(0, 0, 0, 0.25),
    -1px 1px 6px rgba(0, 0, 0, 0.25),
    1px 1px 6px rgba(0, 0, 0, 0.25);
  }
  .content .desc-text.result-text {
    font-size: 4.5vw;
    position: relative;
    width: 80%;
    margin-left: 10%;
    top: 90px;
  }
  .content .form-inner-wrap .desc-text  {
    position: relative;
    z-index: 4;
    top: 0px;
  }
  .content .form-inner-wrap .desc-text-low {
    padding-top: 10vh;
  }
  .content .game-content {
    text-align: center; }
    .content .game-content .form-inner-wrap {
      left: 13vw;
      width: 74vw;
      position: absolute;
    }
    .content .game-content .main-input {
      position: relative;
      width: 68vw;
      background: rgba(156, 156, 156, 0.5);
      border: none;
      outline: none;
      color: #FFF;
      font-size: 90px;
      z-index: 2;
      text-align: center;
    }
    .content .game-content .game-content-form {
      margin: 0;
    }
      .content .game-content .main-input.incorrectAnswer {
        box-shadow: 0 0 13px #831908;
        border: solid 1px #831908; }
      .content .game-content .main-input.correctAnswer {
        box-shadow: 0 0 13px #8BB61D;
        border: solid 1px #8BB61D; }
    .content .game-content .game-changer {
      position: absolute;
      padding-top: 128px;
      top: 20vh;
      right: 16vw;
      text-align: right;
      z-index: 4; }
    .content .game-content .correct-answer {
      font-size: 90px;
      color: #8BB61D;
      padding-top: 128px;
      width: 100%; }
  .content .hint-sidebar {
    position: absolute;
    right: 20px;
    top: 100px;
    z-index: 4; }
  .content .hint-sidebar .feedback-box {
    right: 38px;
    top: 28px;
  }

  .content .hint-sidebar .content-btn {
    padding: 0px 11px;
    border-radius: 50%;
    font-size: 32px;
    margin-bottom: 4px;
    background: rgba(255, 255, 255, 0.55);
  }

  .content .hint-sidebar .btn-wrap {
    text-align: right;
  }
    .content .hint-sidebar li {
      list-style: none; }

  .content .hint-sidebar .main-btn {
    background-color: transparent;
  }
  .content .page-counter {
    position: absolute;
    bottom: 26px;
    right: 26px; }
  .content .next-btn {
    position: absolute;
    bottom: 50%;
    right: 10%;
    z-index: 2; }
    .content .next-btn .content-btn {
      font-size: 32px; }

.shifting-content {
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute; }
  .shifting-content .explorer-btn {
    position: absolute;
    bottom: 20px; }

.results-content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background-color: #FB6A5C; }
  .results-content .game-results {
    padding-top: 100px;
    position: relative;
    color: #fff;
    font-weight: bold;
    width: 100%; }
  .results-content .game-results p {
    font-size: 16px;
  }

.hiddenPhotoLeft {
  display: none;
}

.hiddenPhotoRight {
  display: none;
}

.slideLeftOut {
  left: -100%;
}
.slideLeftIn {
  left: 0;
}
.slideRightOut {
  right: -100%;
}
.slideRightIn {
  right: 0;
}

.tour-step-content.tour-step-0,
.tour-step-content.tour-step-1,
.tour-step-content.tour-step-2,
.tour-step-content.tour-step-3,
.tour-step-content.tour-step-4,
.tour-step-content.tour-step-5,
.tour-step-content.tour-step-6,
.tour-step-content.tour-step-7,
.tour-step-content.tour-step-8 {
    position: relative;
    width: 181px;
    border: 0px solid #FFFFFF;
    background: white;
    text-align: left;
    padding-right: 0px;
    display: inline-block;
    font-size: 18px;
}

.popover-inner>.tour-step-content {
  max-width: 324px;
  padding: 0px;
}

.tour-billy-wrap {
  display: inline;
  position: relative;
  float: left;
}

.billy-tour-backdrop {
  background-color: rgba(0, 0, 0, .5);
  display: block;
  z-index: 10000;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.popover-navigation {
  display: block;
}

.tour-billy {
  width: 115px;
}

.tour-billy-sm {
  width: 58px;
}

.popover {
  max-width: inherit;
  border: 0px;
  border-radius: 5px;
  top: 24% !important;
}
.popover-title {
  margin: 0;
  font-size: 14px;
  background-color: transparent;
  border-bottom: 0px;
  border-radius: 0px;
}
.popover-inner {
  padding: 9px 14px;
  max-width: 324px;
  min-width: 267px;
}

.popover-navigation .btn-group {
  position: absolute;
  display: block;
  vertical-align: middle;
  bottom: 10px;
  right: 10px;
}
