/**                                   **
 **                                   **
 **       UNSPLASH DUAL N BACK 2      **
 **                                   **
 **                                   **/
.content.round2 .desc-text {
  font-size: 50px;
}
.content.round2 .desc-text.end-text {
  font-size: 90px;
}


.content.round2 .game-content .main-input {
  width: 56vw;
  font-size: 50px;
}

.content.round2 .game-content .form-inner-wrap {
  left: 22vw;
  width: 56vw;
}

.content.round2 .game-content .correct-answer {
  font-size: 50px;
  padding-top: 0px;
}

.content.round2 .game-content .game-changer {
  top: 20vh;
  padding-top: 64px;
}
.content.round2 .game-content .game-changer.quizChanger {
  top: 10vh;
  padding-top: 215px;
}